<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>관리자-쿠폰목록</title>
    <!-- Pretendard Font -->
    <link rel="stylesheet" as="style" crossorigin
          href="https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/variable/pretendardvariable.min.css"/>
    <!--Style-->
    <link rel="stylesheet" href="/style/admin/coupon/list.css"/>
    <link rel="stylesheet" href="/style/admin/header.css">
    <link rel="stylesheet" href="/style/admin/footer.css">
    <!--JavaScript-->
    <script src="/script/orderList.js"></script>
</head>
<body>
<div id="container">
    <header>
        <div class="headerArea">
            <div>
                <img src="/images/logo_lotte-on_white_text.png">
            </div>
            <div>
                <ul>
                    <li><a href="">HOME</a></li>
                    <div class="v-l"></div>
                    <li><a href="">로그아웃</a></li>
                    <div class="v-l"></div>
                    <li><a href="">고객센터</a></li>
                </ul>
            </div>
        </div>
    </header>
    <main>
        <aside>
            <div class="item">
                <div class="title">
                    <img src="/images/admin-with-cogwheels.png">환경설정
                </div>
                <div class="dropdown">
                    <div>
                        <a href="/config/basic.html"> - 기본설정</a>
                        <a href="/config/banner.html"> - 배너관리</a>
                        <a href="/config/policy.html"> - 약관관리</a>
                        <a href="/config/category.html"> - 카테고리</a>
                        <a href="/config/version.html"> - 버전관리</a>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="title">
                    <img src="/images/admin-market.png">상점관리
                </div>
                <div class="dropdown">
                    <div>
                        <a href="/shop/list.html"> - 상점목록</a>
                        <a href="/shop/sales.html"> - 매출현황</a>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="title">
                    <img src="/images/admin-persons.png">회원관리
                </div>
                <div class="dropdown">
                    <div>
                        <a href="/member/list.html"> - 회원목록</a>
                        <a href="/member/point.html"> - 포인트관리</a>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="title">
                    <img src="/images/admin-package.png">상품관리
                </div>
                <div class="dropdown">
                    <div>
                        <a href="/product/list.html"> - 상품목록</a>
                        <a href=""> - 카테고리</a>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="title">
                    <img src="/images/admin-credit-card.png">주문관리
                </div>
                <div class="dropdown">
                    <div>
                        <a href="/order/list.html"> - 주문현황</a>
                        <a href="/order/delivery.html"> - 배송현황</a>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="title">
                    <img src="/images/admin-coupon.png">쿠폰관리
                </div>
                <div class="dropdown">
                    <div>
                        <a href="/coupon/list.html"> - 쿠폰목록</a>
                        <a href="issued.html"> - 쿠폰발급현황</a>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="title">
                    <img src="/images/admin-board.png">고객센터
                </div>
                <div class="dropdown">
                    <div>
                        <a href="/cs/noticeList.html"> - 공지사항</a>
                        <a href="/cs/faqList.html"> - 자주묻는질문</a>
                        <a href="/cs/qnaList.html"> - 문의하기</a>
                        <a href="/cs/recruitList.html"> - 채용하기</a>
                    </div>
                </div>
            </div>
        </aside>
        <div class="adminMain">
            <div class="mainTop">
                <h4>쿠폰목록</h4>
                <div><span>HOME > 쿠폰관리 > <p>쿠폰목록</p></span></div>
            </div>
            <div class="shopArea">
                <div class="searchArea">
                    <select>
                        <option>선택</option>
                        <option>주문번호</option>
                        <option>주문자</option>
                        <option>주문자명</option>
                    </select>
                    <input type="text" placeholder="검색어 입력">
                    <button type="submit">검색</button>
                </div>
                <table>
                    <tr>
                        <th>쿠폰번호</th>
                        <th>쿠폰종류</th>
                        <th>쿠폰명</th>
                        <th>혜택</th>
                        <th>사용기간</th>
                        <th>발급자</th>
                        <th>발급수</th>
                        <th>사용수</th>
                        <th>상태</th>
                        <th>발급일</th>
                        <th>관리</th>
                    </tr>
                    <tr>
                        <td>
                            <button type="submit" class="orderinfo">10101010101</button>
                        </td>
                        <td>개별상품 할인</td>
                        <td>10월 한달 감사 쿠폰</td>
                        <td>100원 할인</td>
                        <td>
                            2025-04-16<br>
                            ~2025-04-17
                        </td>
                        <td>
                            (주)<br>
                            그린샵
                        </td>
                        <td>1000</td>
                        <td>966</td>
                        <td>발급중</td>
                        <td>
                            2025-04-16<br>
                            20:40:11
                        </td>
                        <td>
                            <button type="submit" class="couponbtn">종료</button>
                        </td>
                    </tr>
                </table>
                <div class="btnarea">
                    <div class="pageBtn">
                        <a href=""><img src="/images/back-double.png"></a>
                        <a href=""><img src="/images/back-single.png" class="single"></a>
                        <a href="" class="number">1</a>
                        <a href="" class="number">2</a>
                        <a href="" class="number">3</a>
                        <a href=""><img src="/images/right-single.png" class="single"></a>
                        <a href=""><img src="/images/right-double.png"></a>
                    </div>
                    <button type="submit" class="submitbtn">쿠폰등록</button>
                </div>
            </div>
        </div>
        <div id="bannerModal" class="modal">
            <div class="modal-content">
                <span class="close">&times;</span>
                <div class="modaltop">
                    <h3>쿠폰정보</h3>
                    <p>10101010101</p>
                </div>
                <form>
                    <div class="modalTable">
                        <div class="info">
                            <table>
                                <tr>
                                    <th>쿠폰번호</th>
                                    <td>10101010101</td>
                                    <th>발급처</th>
                                    <td>(주)그린샵</td>
                                </tr>
                                <tr>
                                    <th>쿠폰종류</th>
                                    <td>개별상품 할인</td>
                                </tr>
                                <tr>
                                    <th>쿠폰명</th>
                                    <td>10월 한달 감사 쿠폰 이벤트</td>
                                </tr>
                                <tr>
                                    <th>혜택</th>
                                    <td>100원 할인</td>
                                </tr>
                                <tr>
                                    <th>사용기간</th>
                                    <td>
                                        2025-04-16~2025-04-17
                                    </td>
                                </tr>
                                <tr>
                                    <th>유의사항</th>
                                    <td>
                                        빨리써라 그냥<br>
                                        빨리써라 그냥<br>
                                        빨리써라 그냥<br>
                                        빨리써라 그냥<br>
                                        빨리써라 그냥<br>
                                        빨리써라 그냥<br>
                                        빨리써라 그냥
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div id="subModal" class="submodal">
            <div class="submodal-content">
                <span class="close">&times;</span>
                <div class="modaltop">
                    <h3>쿠폰등록</h3>
                </div>
                <form>
                    <div class="modalTable">
                        <table>
                            <tr>
                                <th>발급처</th>
                                <td>
                                    <div>
                                        <input type="text" placeholder="발급처 입력">
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <th>쿠폰종류</th>
                                <td>
                                    <div>
                                        <select>
                                            <option>쿠폰종류 선택</option>
                                            <option>개별상품 할인</option>
                                            <option>주문상품 할인</option>
                                            <option>배송비 무료</option>
                                        </select>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <th>쿠폰명</th>
                                <td>
                                    <div>
                                        <input type="text" placeholder="쿠폰명 입력">
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <th>혜택</th>
                                <td>
                                    <div class="checkboxwrap">
                                        <label><input type="checkbox">1,000원 할인</label>
                                        <label><input type="checkbox">2,000원 할인</label>
                                        <label><input type="checkbox">3,000원 할인</label>
                                        <label><input type="checkbox">4,000원 할인</label>
                                        <label><input type="checkbox">5,000원 할인</label>
                                        <br>
                                        <label class="percent"><input type="checkbox">10% 할인</label>
                                        <label class="mopercent"><input type="checkbox">20% 할인</label>
                                        <label class="morepercent"><input type="checkbox">30% 할인</label>
                                        <label class="percent"><input type="checkbox">40% 할인</label>
                                        <label class="percent"><input type="checkbox">50% 할인</label>
                                        <br>
                                        <label><input type="checkbox">배송비 무료</label>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <th>사용기간</th>
                                <td>
                                    <div class="datewrap">
                                        <label><input type="date" class="date"> ~ <input type="date" class="date"></label>
                                        <br>
                                        <label>또는 발급일로부터 <input type="text"> 이내</label>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <th>유의사항</th>
                                <td>
                                    <div>
                                        <input type="text" placeholder="유의사항 입력" class="subinfo">
                                    </div>
                                </td>
                            </tr>
                        </table>
                    </div>
                    <div class="modalbtn">
                        <button>등록하기</button>
                    </div>
                </form>
            </div>
        </div>
    </main>
    <footer>
        <div class="footerArea">
            <div>
                <p>Copyright ©LotteON.co.kr All rights reserved.LotteON ADMINSTRATOR Version 1.1.1.1</p>
            </div>
        </div>
    </footer>
</div>
</body>
</html>