<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>고객센터 메인</title>
    <link rel="stylesheet" href="/style/common/_header.css">
    <link rel="stylesheet" href="/style/common/_footer.css">
    <link rel="stylesheet" href="/style/cust_question_main.css">

</head>
<body>
    <header>
        <div class="headerContainer">
            <div class="headerUtil">
                <a href="#" class="themeColor">회원가입</a>
                <div class="v-l"></div>
                <a href="#">로그인</a>
                <div class="v-l"></div>
                <a href="#">고객센터</a>
            </div>
            <div class="headerContent">
                <div class="headerContent-left">
                    <a href="#">
                        <img src="/images/logo_lotte-on.png" alt="lotteOn Logo" class="logo">
                    </a>
                    <div class="search">
                        <input type="text" placeholder="검색어를 입력해주세요" class="inputSearch">
                        <button class="deleteSearchKeyword"></button>
                        <a href="#" class="searchIcon icon"></a>
                    </div>
                    <p><span class="themeColor rank">1</span>검색어 순위를 혀? 말어?</p>
                </div>
                <div class="contentLink">
                    <a href="#" class="heart icon"></a>
                    <a href="#" class="my icon"></a>
                    <a href="#" class="cart icon"></a>
                </div>
            </div>
            <div class="headerNavContainer">
                <div class="headerNav">
                    <div class="category">
                        <p class="burgerMenu icon2"></p>
                        <p>카테고리</p>
                        <div class="categories">
                            <ul>
                                <li><a href="#">뷰티</a></li>
                                <li><a href="#">여성패션</a></li>
                                <li><a href="#">남성패션</a></li>
                                <li><a href="#">럭셔리</a></li>
                                <li><a href="#">유아동</a></li>
                                <li><a href="#">스포츠/레저</a></li>
                                <li><a href="#">식품</a></li>
                                <li><a href="#">생활건강</a></li>
                                <li><a href="#">컴퓨터/게임/모바일</a></li>
                                <li><a href="#">가전</a></li>
                                <li><a href="#">가구/인테리어</a></li>
                                <li><a href="#">자동차/공구</a></li>
                                <li><a href="#">반려동물</a></li>
                                <li><a href="#">취미/문구/도서</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="various">
                        <a href="#">신상품</a>
                        <a href="#">베스트</a>
                        <a href="#">패션</a>
                        <a href="#">뷰티</a>
                        <a href="#">라이프</a>
                        <a href="#">특가/혜택</a>
                    </div>
                    <a href="#" class="deliv">
                        <p>주문배송</p>
                        <img src="/images/lotteOnMascot.jpg" alt="배송정보" class="mascot">
                    </a>
                </div>
            </div>
        </div>
    </header>

    <main>
        <section class="content clearfix">
            <aside class="sidebar">
                <article class="side_content">
                    <div class="side_title">
                        <p>고객센터</p>
                    </div>
                    <div class="side_menu">
                        <div class="item">
                            <a href="#">
                                <div id="home">HOME</div>
                            </a>
                        </div>

                        <div class="item">
                            <a href="#">
                                <div id="notice">공지사항</div>
                            </a>
                            <div class="dropdown">
                                <div>
                                    <a href="#">전체</a>
                                    <a href="#">고객서비스</a>
                                    <a href="#">안전거래</a>
                                    <a href="#">위해상품</a>
                                    <a href="#">이벤트 당첨</a>
                                </div>
                            </div>
                        </div>

                        <div class="item">
                            <a href="#">
                                <div id="faq">자주묻는 질문</div>
                            </a>
                            <div class="dropdown">
                                <div>
                                    <a href="#">회원</a>
                                    <a href="#">쿠폰 / 이벤트</a>                                        <a href="#">주문 / 결제</a>
                                    <a href="#">배송</a>
                                    <a href="#">취소 / 반품 / 교환</a>
                                    <a href="#">여행 / 숙박 / 항공</a>
                                    <a href="#">안전거래</a>
                                </div>
                            </div>
                        </div>

                        <div class="item">
                            <a href="#">
                                <div id="question">문의하기</div>
                            </a>
                            <div class="dropdown">
                                <div>                                        
                                    <a href="#">회원</a>
                                    <a href="#">쿠폰 / 이벤트</a>
                                    <a href="#">주문 / 결제</a>
                                    <a href="#">배송</a>
                                    <a href="#">취소 / 반품 / 교환</a>
                                    <a href="#">여행 / 숙박 / 항공</a>
                                    <a href="#">안전거래</a>
                                </div>
                            </div>
                        </div>

                    </div>

                    <div class="phone">
                        <p class="pTitle">롯데ON 고객센터</p>
                        <h1>1899-7000<span>(유료)</span></h1>
                        <p>월~금요일 09:00 ~ 18:00</p>
                        <p>주말, 공휴일 휴무</p>
                    </div>
                    <div class="offline">
                        <p>오프라인 매장안내</p>
                        <h4>매장별 위치/연락처를 확인하세요</h4>
                        <a href="https://www.lotteon.com/p/lotteplus/offlinestore/offLineStoreInfo?mall_no=4&ofln_mall_no=4">롯데마트</a><br><br>
                        <a href="https://www.lotteon.com/p/lotteplus/offlinestore/offLineStoreInfo?mall_no=5&ofln_mall_no=5">롯데슈퍼 프레시</a><br><br>
                        <a href="https://www.lotteon.com/p/lotteplus/offlinestore/offLineStoreInfo?mall_no=2&ofln_mall_no=2">롯데백화점</a><br>
                    </div>
                    <div class="support">
                        <div class="sup1">
                            <a href="#">
                                <h3>판매지원센터 > </h3>
                                <p>판매관련 더 많은 정보를 보고싶다면?</p>
                            </a>
                        </div>
                        <div class="sup2">
                            <a href="#">
                                <h3>안전거래 센터 > </h3>
                            </a>
                        </div>
                    </div>
                </article>
            </aside>
    
            <div class="main_content">
                <h1>문의하기</h1>
                <section class="main_notice">
                    <h3>교환/환불</h3>
                    <table>
                        <tr>
                            <td>[롯데쇼핑]</td>
                            <td>구매회원 이용약관 개정 안내 (시행일:별도표기)</td>
                            <td>검토중</td>
                            <td>chhak</td>
                            <td>25.02.17</td>
                        </tr>
                        <tr>
                            <td>[롯데쇼핑]</td>
                            <td>구매회원 이용약관 개정 안내 (시행일:별도표기)</td>
                            <td>검토중</td>
                            <td>chhak</td>
                            <td>25.02.17</td>
                        </tr>
                        <tr>
                            <td>[롯데쇼핑]</td>
                            <td>구매회원 이용약관 개정 안내 (시행일:별도표기)</td>
                            <td>답변완료</td>
                            <td>chhak</td>
                            <td>25.02.17</td>
                        </tr>
                    </table>
                </section>
                <div class="write">
                    <a href="#">문의하기</a>
                </div>

                <div class="page">
                    <a class="prev">◁</a>
                    <a class="num">1</a>
                    <a class="num">2</a>
                    <a class="next">▷</a>
                </div>
                
                <section class="onetoone">
                    <h3>1:1 상담안내</h3>

                    <div class="info1">
                        <h2>이용안내</h2>
                        <p>일반회원 / 비회원</p>
                        <h3>1566-0001<span>(평일 09:00 ~ 18:00)&nbsp;&nbsp;&nbsp;&nbsp;</span></h3>
                        <p>스마일클럽 전용</p>
                        <h3>1566-0002<span>(365일 09:00 ~ 18:00)</span></h3>
                    </div>

                    <div class="info2">
                        <h2>판매상담이용안내</h2>
                        <p>판매고객</p>
                        <h3>1566-5700<span>(평일 09:00 ~ 18:00)&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span></h3><br>
                        <a href="#">
                            <h3 style="color: #333333;">판매자 가입 및 서류접수 안내 > </h3>
                        </a>

                    </div>
                </section>
            </div>
        </section>
        
    </main>

    <footer>
        <div class="footerContainer">
            <div class="footerTopMenu">
                <ul>
                    <li><a href="#">회사소개</a></li>
                    <li><a href="#">이용약관</a></li>
                    <li><a href="#">전자금융거래약관</a></li>
                    <li><a href="#" class="bold2">개인정보처리방침</a></li>
                    <li><a href="#">청소년보호방침</a></li>
                    <li><a href="#">임직원등록</a></li>
                    <li><a href="#">준법경영</a></li>
                    <li><a href="#">오류신고</a></li>
                    <li><a href="#">리서치 패널가입</a></li>
                </ul>
                <div class="selectMenu">
                    <select onchange="window.open(value,'_blank');">
                        <option selected disabled>판매자서비스</option>
                        <option value="https://support.lotteon.com/">판매자교육 센터</option>
                        <option value="https://api.lotteon.com/">API센터</option>
                    </select>
                    <select onchange="window.open(value,'_blank');">
                        <option selected disabled>Family Site</option>
                        <option value="https://www.lotteeatz.com/eatzevent.html">롯데리아</option>
                        <option value="https://kor.lottedfs.com/kr/shopmain/home">롯데면세점</option>
                        <option value="https://www.lottecinema.co.kr/">롯데시네마</option>
                        <option value="https://www.lotteworld.com/">롯데월드</option>
                        <option value="https://www.giantsclub.com/">롯데자이언츠</option>
                    </select>
                </div>
            </div>
            <hr>
            <div class="companyInfo">
                <img src="/images/lotteOn_footer_logo.png" alt="footerLogo">
                <div class="infoWrapper">
                    <div class="company">
                        <h3>롯데쇼핑 주식회사</h3>
                        <ul>
                            <li>대표이사 : 김사무엘상현, 신동빈, 정준호, 강성현</li>
                            <li>주소 : 서울특별시 강남구 테헤란로 507 (삼성동, WeWork빌딩), 7층</li>
                            <li>사업자등록번호 : 529-85-00774(롯데쇼핑(주) e커머스사업부)</li>
                            <li>
                                통신판매업 신고 : 2024-서울강남-04439&nbsp;
                                <a href="https://www.ftc.go.kr/bizCommPop.do?wrkr_no=5298500774" class="anchorLine" target="_blank">사업자 정보 확인</a>
                            </li>
                            <li>호스팅 서비스사업자 : 롯데쇼핑(주) e커머스사업부</li>
                        </ul>
                        <h4>롯데쇼핑 e커머스 사업부 에스크로</h4>
                        <p>
                            고객님의 안전거래를 위해 현금 등으로 결제 시 결제금액 전액에 대해
                            <br>
                            소비자 피해 방지 서비스를 이용합니다.
                        </p>
                    </div>
                    <div class="customer">
                        <h3>고객센터</h3>
                        <div>
                            <p>전화번호 : 1899-7000(유료)</p>
                            <p>
                                E-mail :
                                <a href="#">lotteon@lotte.net</a>
                            </p>
                            <p>
                                <a href="#" class="anchorLine" target="_blank">분쟁해결기준</a>
                            </p>
                        </div>
                        <div>
                            <ul class="list">
                                <li>
                                    <a href="#">FAQ 보기</a>
                                </li>
                                <li>
                                    <a href="#">1:1 문의하기</a>
                                </li>
                                <li>
                                    <a href="#">고객센터</a>
                                </li>
                                <li>
                                    <a href="#">공지사항</a>
                                </li>
                            </ul>
                        </div>
                        <h3>전자금융거래 분쟁 담당</h3>
                        <div>
                            <p>Tel : 1899-7000(유료)</p>
                            <p>
                                E-mail :
                                <a href="#" class="anchorLine">lotteon@lotte.net</a>
                            </p>
                            <p>
                                <a href="#" class="anchorLine" target="_blank">안전거래센터</a>
                            </p>
                        </div>
                        <div>
                            <h3>콘텐츠산업진흥법에 의한 콘텐츠보호안내</h3>
                            <a href="#" class="anchorLine">자세히보기</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="outlink">
                <a href="https://www.lotteon.com/common/footerSafePopup">
                    <img src="/images/ico_footer2.png">
                </a>
                <a href="https://kolsa.or.kr/">
                    <img src="/images/ico_footer1.png">
                </a>
                <a href="https://hometax.go.kr/">
                    <img src="/images/ico_footer3.png">
                </a>
                <a href="http://upss.gs1kr.org/">
                    <img src="/images/ico_footer4.png">
                </a>
                <a href="https://107.relaycall.or.kr">
                    <img src="/images/ico_footer5.png">
                </a>
                <a href="https://www.pipc.go.kr/np/cop/bbs/selectBoardArticle.do?bbsId=BS213&mCode=C040050000&nttId=8926">
                    <img src="/images/ico_footer6.png">
                </a>
            </div>
        </div>
        <hr>
        <div class="footerInfo">
            <p>롯데쇼핑(주)는 통신판매중개자이며 통신판매의 거래당사자가 아닙니다. 입점판매자가 등록한 상품정보 및 거래에 대해 롯데쇼핑(주)는 일체 책임을 지지 않습니다.</p>
            <p>Copyright © LOTTESHOPPING Co., LTD. All rights reserved.</p>
        </div>
    </footer>
</body>

</html>