<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <!-- Pretendard Font -->
    <link rel="stylesheet" as="style" crossorigin href="https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/variable/pretendardvariable.min.css" />

    <!-- Swiper -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"/>
    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
    <script src="/script/swiper.js"></script>

    <!-- Favicon -->
    <link rel="icon" sizes="32x32" th:href="@{'/images/config/' + ${config.favicon}}">

    <!-- Script -->
    <script src="/script/search.js"></script>
    <script src="/script/bannerClose.js"></script>

    <!-- Style -->
    <link rel="stylesheet" href="/style/index.css"/>
    <link rel="stylesheet" href="/style/common/_header.css"/>
    <link rel="stylesheet" href="/style/common/_footer.css"/>
    <title th:text="${config.title + ' - ' + config.subTitle}"></title>
</head>
<body>
    <div id="container">
        <div id="mainTopBanner">
            <img th:src="${mainTopBanner.imagePath}" alt="메인상단배너">
            <button class="bannerClose"></button>
        </div>
        <th:block th:insert="~{/common/_header.html}"/>
        <main>
            <div class="mainContainer">
                <div class="swiper">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide banners">
                            <div class="bannerCard">
                                <a href="#">
                                    <img src="/images/bannerCard2.png">
                                    <div class="bannerCardText">
                                        <p class="bannerCardTitle">
                                            패션52<br>
                                            타미힐피거/타미진스
                                        </p>
                                        <p class="bannerCardDesc">
                                            스페셜위크 최대 52% OFF+카드할인
                                        </p>
                                    </div>
                                </a>
                            </div>
                            <div class="bannerCard">
                                <a href="#">
                                    <img src="/images/bannerCard4.png">
                                    <div class="bannerCardText">
                                        <p class="bannerCardTitle">
                                            패션52<br>
                                            타미힐피거/타미진스
                                        </p>
                                        <p class="bannerCardDesc">
                                            스페셜위크 최대 52% OFF+카드할인
                                        </p>
                                    </div>
                                </a>
                            </div>
                            <div class="bannerCard">
                                <a href="#">
                                    <img src="/images/bannerCard3.png">
                                    <div class="bannerCardText">
                                        <p class="bannerCardTitle">
                                            패션52<br>
                                            타미힐피거/타미진스
                                        </p>
                                        <p class="bannerCardDesc">
                                            스페셜위크 최대 52% OFF+카드할인
                                        </p>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="swiper-slide banners">
                            <div class="bannerCard">
                                <a href="#">
                                    <img src="/images/bannerCard5.png">
                                    <div class="bannerCardText">
                                        <p class="bannerCardTitle">
                                            패션52<br>
                                            타미힐피거/타미진스
                                        </p>
                                        <p class="bannerCardDesc">
                                            스페셜위크 최대 52% OFF+카드할인
                                        </p>
                                    </div>
                                </a>
                            </div>
                            <div class="bannerCard">
                                <a href="#">
                                    <img src="/images/bannerCard2.png">
                                    <div class="bannerCardText">
                                        <p class="bannerCardTitle">
                                            패션52<br>
                                            타미힐피거/타미진스
                                        </p>
                                        <p class="bannerCardDesc">
                                            스페셜위크 최대 52% OFF+카드할인
                                        </p>
                                    </div>
                                </a>
                            </div>
                            <div class="bannerCard">
                                <a href="#">
                                    <img src="/images/bannerCard4.png">
                                    <div class="bannerCardText">
                                        <p class="bannerCardTitle">
                                            패션52<br>
                                            타미힐피거/타미진스
                                        </p>
                                        <p class="bannerCardDesc">
                                            스페셜위크 최대 52% OFF+카드할인
                                        </p>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="adContainer products">
                    <div class="titleWrap">
                        <h2 class="titleLarge">예정 중인 이벤트</h2>
                        <p class="text">브랜드판타지</p>
                    </div>
                    <div class="adImages">
                        <a href="#">
                            <img src="/images/ad3.png" alt="롯데온 광고1">
                        </a>
                        <a href="#">
                            <img src="/images/ad4.png" alt="롯데온 광고2">
                        </a>
                    </div>
                </div>
                <div class="bestProduct products">
                    <div class="titleWrap">
                        <h2 class="titleLarge">온쇼페 베스트 상품</h2>
                        <p class="text">온쇼페의 베스트 상품을 가져왔어요</p>
                    </div>
                    <div class="productItem">
                        <div class="fourItems">
                            <a th:href="@{/product/detail}">
                                <img src="/images/554X554.jpg">
                            </a>
                            <div class="descWrap">
                                <a th:href="@{/product/detail}" class="text">
                                    <span class="bold">템포크</span>
                                    통밀먹인 오겹살 1kg+1kg 구이용
                                </a>
                                <div class="priceInfo">
                                    <div class="price">
                                        <p>21,420</p>
                                        <span>원</span>
                                    </div>
                                </div>
                                <div class="review">
                                    <span class="starGrade"></span>
                                    <span class="rating">4.8</span>
                                    <div class="v-l"></div>
                                    <span class="reviewInfo">리뷰</span>
                                    <span class="reviewCount">1</span>
                                </div>
                            </div>
                        </div>
                        <div class="fourItems">
                            <a th:href="@{/product/detail}">
                                <img src="/images/554X554.jpg">
                            </a>
                            <div class="descWrap">
                                <a th:href="@{/product/detail}" class="text">
                                    <span class="bold">템포크</span>
                                    통밀먹인 오겹살 1kg+1kg 구이용
                                </a>
                                <div class="priceInfo">
                                    <div class="price">
                                        <p>21,420</p>
                                        <span>원</span>
                                    </div>
                                </div>
                                <div class="review">
                                    <span class="starGrade"></span>
                                    <span class="rating">4.8</span>
                                    <div class="v-l"></div>
                                    <span class="reviewInfo">리뷰</span>
                                    <span class="reviewCount">1</span>
                                </div>
                            </div>
                        </div>
                        <div class="fourItems">
                            <a th:href="@{/product/detail}">
                                <img src="/images/554X554.jpg">
                            </a>
                            <div class="descWrap">
                                <a th:href="@{/product/detail}" class="text">
                                    <span class="bold">템포크</span>
                                    통밀먹인 오겹살 1kg+1kg 구이용
                                </a>
                                <div class="priceInfo">
                                    <div class="price">
                                        <p>21,420</p>
                                        <span>원</span>
                                    </div>
                                </div>
                                <div class="review">
                                    <span class="starGrade"></span>
                                    <span class="rating">4.8</span>
                                    <div class="v-l"></div>
                                    <span class="reviewInfo">리뷰</span>
                                    <span class="reviewCount">1</span>
                                </div>
                            </div>
                        </div>
                        <div class="fourItems">
                            <a th:href="@{/product/detail}">
                                <img src="/images/554X554.jpg">
                            </a>
                            <div class="descWrap">
                                <a th:href="@{/product/detail}" class="text">
                                    <span class="bold">템포크</span>
                                    통밀먹인 오겹살 1kg+1kg 구이용
                                </a>
                                <div class="priceInfo">
                                    <div class="price">
                                        <p>21,420</p>
                                        <span>원</span>
                                    </div>
                                </div>
                                <div class="review">
                                    <span class="starGrade"></span>
                                    <span class="rating">4.8</span>
                                    <div class="v-l"></div>
                                    <span class="reviewInfo">리뷰</span>
                                    <span class="reviewCount">1</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="specialProduct products">
                    <div class="titleWrap">
                        <h2 class="titleLarge">온쇼페 특가에 진심</h2>
                        <p class="text">먼저 보는자가 특가를 가진다</p>
                    </div>
                    <div class="productItem">
                        <div class="threeItems">
                            <a href="#">
                                <img src="/images/360x203(1).png">
                            </a>
                            <div class="descWrap">
                                <a href="#" class="text">
                                    <span class="bold">농협안심한우</span>
                                    1등급 한우 프리미엄 구이 선물세트 1.2kg
                                </a>
                                <div class="priceInfo">
                                    <p class="discount">20%</p>
                                    <div class="price">
                                        <p>184,600</p>
                                        <span>원</span>
                                    </div>
                                    <div class="totalPrice">
                                        <del>
                                            <p>147,680</p>
                                            <span>원</span>
                                        </del>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="threeItems">
                            <a href="#">
                                <img src="/images/360x203(2).png">
                            </a>
                            <div class="descWrap">
                                <a href="#" class="text">
                                    <span class="bold">농협안심한우</span>
                                    1등급 한우 프리미엄 구이 선물세트 1.2kg
                                </a>
                                <div class="priceInfo">
                                    <p class="discount">20%</p>
                                    <div class="price">
                                        <p>184,600</p>
                                        <span>원</span>
                                    </div>
                                    <div class="totalPrice">
                                        <del>
                                            <p>147,680</p>
                                            <span>원</span>
                                        </del>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="threeItems">
                            <a href="#">
                                <img src="/images/360x203(3).png">
                            </a>
                            <div class="descWrap">
                                <a href="#" class="text">
                                    <span class="bold">농협안심한우</span>
                                    1등급 한우 프리미엄 구이 선물세트 1.2kg
                                </a>
                                <div class="priceInfo">
                                    <p class="discount">20%</p>
                                    <div class="price">
                                        <p>184,600</p>
                                        <span>원</span>
                                    </div>
                                    <div class="totalPrice">
                                        <del>
                                            <p>147,680</p>
                                            <span>원</span>
                                        </del>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>
        <th:block th:replace="/common/_footer.html :: footerFragment(versionId=${selectedVersionId})"/>
    </div>
</body>
</html>