<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <!-- Pretendard Font -->
    <link rel="stylesheet" as="style" crossorigin href="https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/variable/pretendardvariable.min.css" />

    <!-- Swiper -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"/>
    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
    <script src="/script/swiper.js"></script>

    <!-- Favicon -->
    <link rel="icon" sizes="32x32" href="https://static.lotteon.com/p/common/assets/favicon/1/favicon-32.png">

    <!-- Script -->
    <script src="/script/search.js"></script>

    <!-- Style -->
    <link rel="stylesheet" href="/style/index.css"/>
    <title>롯데ON</title>
</head>
<body>
    <div id="container">
        <header>
            <div class="headerContainer">
                <div class="headerUtil">
                    <a href="#" class="themeColor">회원가입</a>
                    <div class="v-l"></div>
                    <a href="#">로그인</a>
                    <div class="v-l"></div>
                    <a href="#">고객센터</a>
                </div>
                <div class="headerContent">
                    <div class="headerContent-left">
                        <a href="#">
                            <img src="/images/logo_lotte-on.png" alt="lotteOn Logo" class="logo">
                        </a>
                        <div class="search">
                            <input type="text" placeholder="검색어를 입력해주세요" class="inputSearch">
                            <button class="deleteSearchKeyword"></button>
                            <a href="#" class="searchIcon icon"></a>
                        </div>
                        <p><span class="themeColor rank">1</span>검색어 순위를 혀? 말어?</p>
                    </div>
                    <div class="contentLink">
                        <a href="#" class="heart icon"></a>
                        <a href="#" class="my icon"></a>
                        <a href="#" class="cart icon"></a>
                    </div>
                </div>
                <div class="headerNavContainer">
                    <div class="headerNav">
                        <div class="category">
                            <p class="burgerMenu icon2"></p>
                            <p>카테고리</p>
                        </div>
                        <div class="various">
                            <a href="#">신상품</a>
                            <a href="#">베스트</a>
                            <a href="#">패션</a>
                            <a href="#">뷰티</a>
                            <a href="#">라이프</a>
                            <a href="#">특가/혜택</a>
                        </div>
                        <a href="#" class="deliv">
                            <p>주문배송</p>
                            <img src="/images/lotteOnMascot.jpg" alt="배송정보" class="mascot">
                        </a>
                    </div>
                </div>
            </div>
        </header>
        <main>
            <div class="mainContainer">
                <div class="swiper">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide banners">
                            <div class="bannerCard">
                                <a href="#">
                                    <img src="/images/bannerCard2.png">
                                    <div class="bannerCardText">
                                        <p class="bannerCardTitle">
                                            패션52<br>
                                            타미힐피거/타미진스
                                        </p>
                                        <p class="bannerCardDesc">
                                            스페셜위크 최대 52% OFF+카드할인
                                        </p>
                                    </div>
                                </a>
                            </div>
                            <div class="bannerCard">
                                <a href="#">
                                    <img src="/images/bannerCard4.png">
                                    <div class="bannerCardText">
                                        <p class="bannerCardTitle">
                                            패션52<br>
                                            타미힐피거/타미진스
                                        </p>
                                        <p class="bannerCardDesc">
                                            스페셜위크 최대 52% OFF+카드할인
                                        </p>
                                    </div>
                                </a>
                            </div>
                            <div class="bannerCard">
                                <a href="#">
                                    <img src="/images/bannerCard3.png">
                                    <div class="bannerCardText">
                                        <p class="bannerCardTitle">
                                            패션52<br>
                                            타미힐피거/타미진스
                                        </p>
                                        <p class="bannerCardDesc">
                                            스페셜위크 최대 52% OFF+카드할인
                                        </p>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="swiper-slide banners">
                            <div class="bannerCard">
                                <a href="#">
                                    <img src="/images/bannerCard5.png">
                                    <div class="bannerCardText">
                                        <p class="bannerCardTitle">
                                            패션52<br>
                                            타미힐피거/타미진스
                                        </p>
                                        <p class="bannerCardDesc">
                                            스페셜위크 최대 52% OFF+카드할인
                                        </p>
                                    </div>
                                </a>
                            </div>
                            <div class="bannerCard">
                                <a href="#">
                                    <img src="/images/bannerCard2.png">
                                    <div class="bannerCardText">
                                        <p class="bannerCardTitle">
                                            패션52<br>
                                            타미힐피거/타미진스
                                        </p>
                                        <p class="bannerCardDesc">
                                            스페셜위크 최대 52% OFF+카드할인
                                        </p>
                                    </div>
                                </a>
                            </div>
                            <div class="bannerCard">
                                <a href="#">
                                    <img src="/images/bannerCard4.png">
                                    <div class="bannerCardText">
                                        <p class="bannerCardTitle">
                                            패션52<br>
                                            타미힐피거/타미진스
                                        </p>
                                        <p class="bannerCardDesc">
                                            스페셜위크 최대 52% OFF+카드할인
                                        </p>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </div>
</body>
</html>