<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>회사소개 미디어</title>
    <link rel="stylesheet" href="/css/intro_media.css">
</head>
<body>
    <header>
        <div class="logo">
            <a href="#">
                <img src="/images/ON_CI_BI.png" alt="로고" width="166px">
            </a>
        </div>
        <nav class="header_menu">
            <ul>
                <li><a href="#">HOME</a></li>
                <li><a href="#">기업문화</a></li>
                <li><a href="#">소식과 이야기</a></li>
                <li><a href="#">채용</a></li>
                <li><a href="#">미디어</a></li>
            </ul>
        </nav>
    </header>

    <main>
        <div class="youtube">
            <div class="video_item">
              <a href="https://www.youtube.com/watch?v=AEHoUyrL6bI" target="_blank">
                <img src="https://img.youtube.com/vi/AEHoUyrL6bI/0.jpg" alt="썸네일">
                <p>롯데레드페스티벌 개막🎉 100만 포인트가 쏟아진다!!</p>
              </a>
            </div>
            <div class="video_item">
              <a href="https://www.youtube.com/watch?v=9ZtsI8Hn1rg" target="_blank">
                <img src="https://img.youtube.com/vi/9ZtsI8Hn1rg/0.jpg" alt="썸네일">
                <p>[롯데ON] 🎈4월9일 롯데를 가지세요!🎈 4,300만의 브랜드 대축제!</p>
              </a>
            </div>
            <div class="video_item">
              <a href="https://www.youtube.com/watch?v=PEUvPBB2v6U" target="_blank">
                <img src="https://img.youtube.com/vi/PEUvPBB2v6U/0.jpg" alt="썸네일">
                <p>[롯데ON] 🚨단, 10일!🚨 올 하반기 역대급 브랜드 쇼핑 축제, 온세상 쇼핑 페스타 (*10.14 ~10.23)</p>
              </a>
            </div>
        </div>
    </main>

    <footer>
        <section class="footer_menu">
            <nav>
                <ul>
                    <li><a href="#">HOME</a></li>
                    <li><a href="#">기업문화</a></li>
                    <li><a href="#">소식과 이야기</a></li>
                    <li><a href="#">채용</a></li>
                    <li><a href="#">미디어</a></li>
                </ul>
            </nav>
            <div>
                <p>peoplevalue@lotte.net</p>
            </div>
        </section>
        <section class="footer_menu2">
            <div>
                <p>© 2022 All rights Reserved</p>
            </div>
            <div>

            </div>
        </section>
    </footer>
</body>
</html>