<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
  <!-- Pretendard Font -->
  <link rel="stylesheet" as="style" crossorigin
        href="https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/variable/pretendardvariable.min.css"/>
  <link rel="stylesheet" href="../static/style/common/_footer.css">
  <link rel="stylesheet" href="../static/style/common/_header.css">
  <link rel="stylesheet" href="../static/style/my_home.css">



    <title>마이페이지 메인</title>
</head>
<body>
<div>
  <header>
    <div class="headerContainer">
      <div class="headerUtil">
        <a href="#" class="themeColor">회원가입</a>
        <div class="v-l"></div>
        <a href="#">로그인</a>
        <div class="v-l"></div>
        <a href="#">고객센터</a>
      </div>
      <div class="headerContent">
        <div class="headerContent-left">
          <a href="#">
            <img src="/images/logo_lotte-on.png" alt="lotteOn Logo" class="logo">
          </a>
          <div class="search">
            <input type="text" placeholder="검색어를 입력해주세요" class="inputSearch">
            <button class="deleteSearchKeyword"></button>
            <a href="#" class="searchIcon icon"></a>
          </div>
          <p><span class="themeColor rank">1</span>검색어 순위를 혀? 말어?</p>
        </div>
        <div class="contentLink">
          <a href="#" class="heart icon"></a>
          <a href="#" class="my icon"></a>
          <a href="#" class="cart icon"></a>
        </div>
      </div>
      <div class="headerNavContainer">
        <div class="headerNav">
          <div class="category">
            <p class="burgerMenu icon2"></p>
            <p>카테고리</p>
          </div>
          <div class="various">
            <a href="#">신상품</a>
            <a href="#">베스트</a>
            <a href="#">패션</a>
            <a href="#">뷰티</a>
            <a href="#">라이프</a>
            <a href="#">특가/혜택</a>
          </div>
          <a href="#" class="deliv">
            <p>주문배송</p>
            <img src="/images/lotteOnMascot.jpg" alt="배송정보" class="mascot">
          </a>
        </div>
      </div>
    </div>
  </header>
  <main class="container">

    <div class="mypage-header">
      <div class="mypage-title">
        <h2>나의쇼핑정보</h2>
      </div>
      <div class="mypage-shortcuts">
        <ul>
          <li>
            <a href="#">
              <span class="label">주문</span>
              <span class="value">2</span>
            </a>
          </li>
          <li>
            <a href="#">
              <span class="label">쿠폰</span>
              <span class="value">1</span>
            </a>
          </li>
          <li>
            <a href="#">
              <span class="label">포인트</span>
              <span class="value">1,000</span>
            </a>
          </li>
          <li>
            <a href="#">
              <span class="label">문의</span>
              <span class="value">1</span>
            </a>
          </li>
        </ul>
      </div>
    </div>

    <div class="div_section">
    <section class="left_section">
      <aside class="sidebar">
        <ul>
          <li><a href="#">전체주문내역</a></li>
          <li><a href="#">포인트내역</a></li>
          <li><a href="#">쿠폰</a></li>
          <li><a href="#">나의리뷰</a></li>
          <li><a href="#">문의하기</a></li>
          <li><a href="#">나의설정</a></li>
        </ul>
      </aside>
    </section>

    <section class="right_section">
      <div class="banner"></div>
      <article>
        <div class="article_title">
          <h3>최근 주문내역</h3>
          <a href="#">더보기 ></a>
        </div>
        <table class="table">
          <thead>
          <tr>
            <th>날짜</th>
            <th>상품정보</th>
            <th>상품</th>
            <th>확인/신청</th>
          </tr>
          </thead>
          <tbody>
          <tr>
            <td>2022-12-13</td>
            <td>
              <div>
              <img src="/images/ico_btn1.png" alt="#">
              </div>
              <p><a href="">주문번호: 1012211341</a><br>
                (주)상호명 <br>
                상품명<br>
                수량: 1개 <br><br>
                <strong>34,000원</strong></p>
            </td>
            <td>배송완료</td>
            <td>
              <button class="btn_blue">구매확정</button>
              <button class="btn_blue">상품평쓰기</button>
              <button>반품신청</button>
              <button>교환신청</button>
            </td>
          </tr>

          <tr>
            <td>2022-12-13</td>
            <td>
              <div>
              <img src="/images/ico_btn2.png" alt="#">
              </div>
              <p><a href="">주문번호: 1012211341</a><br>
                (주)상호명 <br>
                상품명<br>
                수량: 1개 <br>
                <strong>34,000원</strong></p>
            </td>
            <td>배송완료</td>
            <td>
              <button class="btn_blue">구매확정</button>
              <button class="btn_blue">상품평쓰기</button>
              <button>반품신청</button>
              <button>교환신청</button>
            </td>
          </tr>

          </tbody>
        </table>
        <div class="article_title2">
          <h3>포인트적립내역</h3>
        </div>
      </article>
    </section>
    </div>
  </main>

</div>
</body>
</html>