<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>고객센터 메인</title>
    <link rel="stylesheet" href="/style/common/_header.css">
    <link rel="stylesheet" href="/style/common/_footer.css">
    <link rel="stylesheet" href="/style/policy.css">

</head>
<body>
    <header>
        <div class="headerContainer">
            <div class="headerUtil">
                <a href="#" class="themeColor">회원가입</a>
                <div class="v-l"></div>
                <a href="#">로그인</a>
                <div class="v-l"></div>
                <a href="#">고객센터</a>
            </div>
            <div class="headerContent">
                <div class="headerContent-left">
                    <a href="#">
                        <img src="/images/logo_lotte-on.png" alt="lotteOn Logo" class="logo">
                    </a>
                    <div class="search">
                        <input type="text" placeholder="검색어를 입력해주세요" class="inputSearch">
                        <button class="deleteSearchKeyword"></button>
                        <a href="#" class="searchIcon icon"></a>
                    </div>
                    <p><span class="themeColor rank">1</span>검색어 순위를 혀? 말어?</p>
                </div>
                <div class="contentLink">
                    <a href="#" class="heart icon"></a>
                    <a href="#" class="my icon"></a>
                    <a href="#" class="cart icon"></a>
                </div>
            </div>
            <div class="headerNavContainer">
                <div class="headerNav">
                    <div class="category">
                        <p class="burgerMenu icon2"></p>
                        <p>카테고리</p>
                        <div class="categories">
                            <ul>
                                <li><a href="#">뷰티</a></li>
                                <li><a href="#">여성패션</a></li>
                                <li><a href="#">남성패션</a></li>
                                <li><a href="#">럭셔리</a></li>
                                <li><a href="#">유아동</a></li>
                                <li><a href="#">스포츠/레저</a></li>
                                <li><a href="#">식품</a></li>
                                <li><a href="#">생활건강</a></li>
                                <li><a href="#">컴퓨터/게임/모바일</a></li>
                                <li><a href="#">가전</a></li>
                                <li><a href="#">가구/인테리어</a></li>
                                <li><a href="#">자동차/공구</a></li>
                                <li><a href="#">반려동물</a></li>
                                <li><a href="#">취미/문구/도서</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="various">
                        <a href="#">신상품</a>
                        <a href="#">베스트</a>
                        <a href="#">패션</a>
                        <a href="#">뷰티</a>
                        <a href="#">라이프</a>
                        <a href="#">특가/혜택</a>
                    </div>
                    <a href="#" class="deliv">
                        <p>주문배송</p>
                        <img src="/images/lotteOnMascot.jpg" alt="배송정보" class="mascot">
                    </a>
                </div>
            </div>
        </div>
    </header>

    <main>
        <section class="content clearfix">
            <div class="main_content">
                <h1>LotteOn 서비스 이용약관</h1>
            </div>
            <section class="sub_menu">
                <ul>
                    <li data-target="customer" class="selected">
                        <a href="#">
                            <img src="/images/policy/store-buyer (1).png" alt="">
                            구매회원약관
                        </a>
                    </li>
                    <li data-target="seller">
                        <a href="#">
                            <img src="/images/policy/seller.png" alt="">
                            판매회원약관
                        </a>
                    </li>
                    <li data-target="banking">
                        <a href="#">
                            <img src="/images/policy/bank.png" alt="">
                            전자금융거래
                        </a>
                    </li>
                    <li data-target="location">
                        <a href="#">
                            <img src="/images/policy/land-layer-location.png" alt="">
                            위치정보약관
                        </a>
                    </li>
                    <li data-target="personal">
                        <a href="#">
                            <img src="/images/policy/hr-person.png" alt="">
                            개인정보처리
                        </a>
                    </li>
                </ul>
            </section>
            <button id="printBtn" class="print_button">
                <img src="/images/policy/print.png" alt="프린트">
            </button>

            <section class="content">
                <div class="tab_content" id="customer" >
                    <h3>구매회원 이용약관</h3>
                    <table>
                        <tr>
                            <th>제1조(목적)</th>
                        </tr>
                        <tr>
                            <td>본 약관은 롯데쇼핑㈜(이하 "회사"라 함)가 운영하는 사이트, 온라인 쇼핑몰 및 매장에서 제공하는 관련 서비스(모바일 및 인터넷 관련 서비스 포함, 이하 “서비스”라 함)를 이용함에 있어 회사와 회사의 서비스를 이용하는 자간의 권리 의무 및 책임 사항을 규정하는데 목적이 있습니다.

                                ※ [참고] 본 약관이 적용되는 사이트 및 매장 자세히 보기
                                (단, 제공 서비스에 따라 개별약관 동의가 필요할 수 있으며, 개별약관을 우선하여 적용합니다.)</td>
                        </tr>
                        <tr>
                            <th>제2조(용어의 정의)</th>
                        </tr>
                        <tr>
                            <td>1. "사이트"란 회사가 컴퓨터, TV 및 휴대폰 등 정보통신 설비를 이용하여 상품 또는 용역(이하 “상품 등”이라 함)을 이용자에게 제공하기 위하여 설정한 가상의 영업장을 말합니다.
                                2. “매장”이란 회사가 상품 등을 이용자에게 제공하기 위해 운영하는 물리적 공간 또는 관련된 오프라인 영업장을 말합니다.
                                3. “이용자”란 사이트에 접속하거나 매장에 방문하여 본 약관에 따라 회사가 제공하는 서비스를 받는 자로서, (구매)회원, 판매회원 및 비회원을 포함한다.
                                1) “회원” 또는 “구매회원”이란 회사에서 제공하는 구매서비스를 이용할 수 있는 자로, 정회원, 간편가입회원 및 제휴회원을 의미합니다.
                                ① “정회원”이란 롯데멤버스㈜가 운영하는 L.POINT 회원 중 L.POINT Single Sign On 서비스를 통하여 본 약관에 동의하고 회사의 회원으로 가입한 자를 의미합니다. 이때 L.POINT 회원 및 Single Sign On 서비스의 정의는 롯데멤버스㈜의 L.POINT 이용 약관에 따릅니다. * 롯데멤버스 사이트 URL : http://www.lottemembers.com
                                ② “간편가입회원”이란 이메일 인증 또는 휴대전화번호 인증 또는 소셜서비스(네이버, 카카오 등)를 통해 사이트의 회원으로 가입하고, 회사가 제공하는 온라인 서비스를 이용할 수 있는 자를 의미합니다. 지원하는 소셜서비스 종류 등 세부 가입 방식은 각 사이트별 운영 정책에 따라 달라질 수 있습니다.
                                ③ “제휴회원”이란 회사가 제휴한 채널(사이트 등)에서 정한 조건과 방법에 따라 회사 또는 판매회원의 상품 등을 구입할 수 있는 자를 의미합니다. 단, 제휴회원에 대해서는 상품 등의 구입을 신청한 해당 제휴 채널의 정책을 우선하여 적용합니다.
                                2) “판매회원”이란 본 약관에 동의하고 별도의 인증절차를 거쳐 회사가 사이트에서 판매를 승인한 자를 말합니다. 단, 판매회원의 자격이나 승인 결정 기준은 회사의 사정에 따라 변경될 수 있습니다.
                                3) “비회원”이란 회사의 구매회원 또는 판매회원의 자격을 득하지 않고 회사의 서비스를 이용하는 자를 말합니다. 이때 회사는 비회원에게는 사이트 또는 매장별로 상품 등의 구입을 제한하거나 일부 서비스를 제공하지 않을 수 있으며, 비회원은 이에 대하여 이의를 제기할 수 없습니다.
                                4. “아이디(ID)”란 회원 식별과 회원의 서비스 이용을 위하여 회원이 선정하고 회사가 승인한 문자와 숫자 등의 조합을 말합니다.
                                5. “비밀번호(PASSWORD)”란 회원 본인 확인 및 회원의 개인정보, 거래정보의 보호를 위하여 회원 자신이 설정한 문자와 숫자 등의 조합을 말합니다.
                                6. “가격할인”이란 판매회원이 회사의 서비스를 통하여 상품 등을 판매할 때 특정 상품 등의 판매가격을 변경하여 할인하는 것을 말합니다.
                                7. “할인쿠폰”이란 명칭을 불문하고 구매회원이 사이트 또는 매장에서 상품 등의 구매시, 판매가격에서 표시된 금액 또는 비율만큼 할인을 적용한 가격을 기준으로 대금을 지급하고 상품 등을 공급받을 수 있는 온/오프라인 할인수단을 말합니다. 할인쿠폰은 회사 또는 판매회원이 임의 또는 협의하여 발급할 수 있으며, 판매회원이 명시적으로 발급의 중단을 요청한 경우에는 회사는 즉시 발급을 중단합니다. 할인쿠폰의 사용조건, 사용기간, 발급횟수 등은 할인쿠폰별로 상이하게 정할 수 있으며, 회사 또는 판매회원의 사정에 따라 쿠폰 발급은 임의로 중단될 수 있습니다.
                                8. “L.POINT(엘포인트)”란 L.POINT회원이 L.POINT 제휴사에서 적립 받거나 결제수단으로 사용할 수 있는 포인트로, 롯데멤버스㈜가 운영, 관리하는 포인트를 말합니다.
                                9. “운영자”란 “회사”가 제공하는 서비스의 전반적인 관리와 원활한 운영을 위하여 회사가 선정한 자를 말합니다.
                                10. “구매안전서비스”란 회사가 구매회원의 결제대금의 보호를 위하여 일정 기간 동안 결제대금을 예치하는 서비스를 말합니다.
                                11. “고객서비스센터”란 이용자의 서비스 이용과 관련한 문의를 처리하거나 이용자간의 분쟁을 합리적이고 원활하게 조정하기 위하여 회사가 설치 및 운영하는 기구를 말합니다.
                                12. “안전거래센터”란 회사 서비스 이용 중 거래의 안전과 관련하여 발생할 수 있는 제 문제를 조정하기 위한 기구를 말합니다.
                                13. 본 조에서 정의되지 않은 본 약관 상의 용어의 의미는 관련법령 및 일반적인 거래관행에 따릅니다.</td>
                        </tr>
                        <tr>
                            <th>제3조</th>
                        </tr>
                        <tr>
                            <td>내용</td>
                        </tr>
                    </table>
                </div>
                <!--구매회원약관 끝-->

                <div class="tab_content" id="seller" style="display: none;">
                    <h3>판매회원 이용약관</h3>
                    <table>
                        <tr>
                            <th>제1조(목적)</th>
                        </tr>
                        <tr>
                            <td>본 약관은 롯데쇼핑㈜(이하 "회사"라 함)가 운영하는 사이트, 온라인 쇼핑몰 및 매장에서 제공하는 관련 서비스(모바일 및 인터넷 관련 서비스 포함, 이하 “서비스”라 함)를 이용함에 있어 회사와 회사의 서비스를 이용하는 자간의 권리 의무 및 책임 사항을 규정하는데 목적이 있습니다.

                                ※ [참고] 본 약관이 적용되는 사이트 및 매장 자세히 보기
                                (단, 제공 서비스에 따라 개별약관 동의가 필요할 수 있으며, 개별약관을 우선하여 적용합니다.)</td>
                        </tr>
                        <tr>
                            <th>제2조(용어의 정의)</th>
                        </tr>
                        <tr>
                            <td>1. "사이트"란 회사가 컴퓨터, TV 및 휴대폰 등 정보통신 설비를 이용하여 상품 또는 용역(이하 “상품 등”이라 함)을 이용자에게 제공하기 위하여 설정한 가상의 영업장을 말합니다.
                                2. “매장”이란 회사가 상품 등을 이용자에게 제공하기 위해 운영하는 물리적 공간 또는 관련된 오프라인 영업장을 말합니다.
                                3. “이용자”란 사이트에 접속하거나 매장에 방문하여 본 약관에 따라 회사가 제공하는 서비스를 받는 자로서, (구매)회원, 판매회원 및 비회원을 포함한다.
                                1) “회원” 또는 “구매회원”이란 회사에서 제공하는 구매서비스를 이용할 수 있는 자로, 정회원, 간편가입회원 및 제휴회원을 의미합니다.
                                ① “정회원”이란 롯데멤버스㈜가 운영하는 L.POINT 회원 중 L.POINT Single Sign On 서비스를 통하여 본 약관에 동의하고 회사의 회원으로 가입한 자를 의미합니다. 이때 L.POINT 회원 및 Single Sign On 서비스의 정의는 롯데멤버스㈜의 L.POINT 이용 약관에 따릅니다. * 롯데멤버스 사이트 URL : http://www.lottemembers.com
                                ② “간편가입회원”이란 이메일 인증 또는 휴대전화번호 인증 또는 소셜서비스(네이버, 카카오 등)를 통해 사이트의 회원으로 가입하고, 회사가 제공하는 온라인 서비스를 이용할 수 있는 자를 의미합니다. 지원하는 소셜서비스 종류 등 세부 가입 방식은 각 사이트별 운영 정책에 따라 달라질 수 있습니다.
                                ③ “제휴회원”이란 회사가 제휴한 채널(사이트 등)에서 정한 조건과 방법에 따라 회사 또는 판매회원의 상품 등을 구입할 수 있는 자를 의미합니다. 단, 제휴회원에 대해서는 상품 등의 구입을 신청한 해당 제휴 채널의 정책을 우선하여 적용합니다.
                                2) “판매회원”이란 본 약관에 동의하고 별도의 인증절차를 거쳐 회사가 사이트에서 판매를 승인한 자를 말합니다. 단, 판매회원의 자격이나 승인 결정 기준은 회사의 사정에 따라 변경될 수 있습니다.
                                3) “비회원”이란 회사의 구매회원 또는 판매회원의 자격을 득하지 않고 회사의 서비스를 이용하는 자를 말합니다. 이때 회사는 비회원에게는 사이트 또는 매장별로 상품 등의 구입을 제한하거나 일부 서비스를 제공하지 않을 수 있으며, 비회원은 이에 대하여 이의를 제기할 수 없습니다.
                                4. “아이디(ID)”란 회원 식별과 회원의 서비스 이용을 위하여 회원이 선정하고 회사가 승인한 문자와 숫자 등의 조합을 말합니다.
                                5. “비밀번호(PASSWORD)”란 회원 본인 확인 및 회원의 개인정보, 거래정보의 보호를 위하여 회원 자신이 설정한 문자와 숫자 등의 조합을 말합니다.
                                6. “가격할인”이란 판매회원이 회사의 서비스를 통하여 상품 등을 판매할 때 특정 상품 등의 판매가격을 변경하여 할인하는 것을 말합니다.
                                7. “할인쿠폰”이란 명칭을 불문하고 구매회원이 사이트 또는 매장에서 상품 등의 구매시, 판매가격에서 표시된 금액 또는 비율만큼 할인을 적용한 가격을 기준으로 대금을 지급하고 상품 등을 공급받을 수 있는 온/오프라인 할인수단을 말합니다. 할인쿠폰은 회사 또는 판매회원이 임의 또는 협의하여 발급할 수 있으며, 판매회원이 명시적으로 발급의 중단을 요청한 경우에는 회사는 즉시 발급을 중단합니다. 할인쿠폰의 사용조건, 사용기간, 발급횟수 등은 할인쿠폰별로 상이하게 정할 수 있으며, 회사 또는 판매회원의 사정에 따라 쿠폰 발급은 임의로 중단될 수 있습니다.
                                8. “L.POINT(엘포인트)”란 L.POINT회원이 L.POINT 제휴사에서 적립 받거나 결제수단으로 사용할 수 있는 포인트로, 롯데멤버스㈜가 운영, 관리하는 포인트를 말합니다.
                                9. “운영자”란 “회사”가 제공하는 서비스의 전반적인 관리와 원활한 운영을 위하여 회사가 선정한 자를 말합니다.
                                10. “구매안전서비스”란 회사가 구매회원의 결제대금의 보호를 위하여 일정 기간 동안 결제대금을 예치하는 서비스를 말합니다.
                                11. “고객서비스센터”란 이용자의 서비스 이용과 관련한 문의를 처리하거나 이용자간의 분쟁을 합리적이고 원활하게 조정하기 위하여 회사가 설치 및 운영하는 기구를 말합니다.
                                12. “안전거래센터”란 회사 서비스 이용 중 거래의 안전과 관련하여 발생할 수 있는 제 문제를 조정하기 위한 기구를 말합니다.
                                13. 본 조에서 정의되지 않은 본 약관 상의 용어의 의미는 관련법령 및 일반적인 거래관행에 따릅니다.</td>
                        </tr>
                        <tr>
                            <th>제3조</th>
                        </tr>
                        <tr>
                            <td>내용</td>
                        </tr>
                    </table>
                </div>
                <!--판매회원약관 끝-->

                <div class="tab_content" id="banking" style="display: none;">
                    <h3>전자금융거래 이용약관</h3>
                    <table>
                        <tr>
                            <th>제1조(목적)</th>
                        </tr>
                        <tr>
                            <td>본 약관은 롯데쇼핑㈜(이하 "회사"라 함)가 운영하는 사이트, 온라인 쇼핑몰 및 매장에서 제공하는 관련 서비스(모바일 및 인터넷 관련 서비스 포함, 이하 “서비스”라 함)를 이용함에 있어 회사와 회사의 서비스를 이용하는 자간의 권리 의무 및 책임 사항을 규정하는데 목적이 있습니다.

                                ※ [참고] 본 약관이 적용되는 사이트 및 매장 자세히 보기
                                (단, 제공 서비스에 따라 개별약관 동의가 필요할 수 있으며, 개별약관을 우선하여 적용합니다.)</td>
                        </tr>
                        <tr>
                            <th>제2조(용어의 정의)</th>
                        </tr>
                        <tr>
                            <td>1. "사이트"란 회사가 컴퓨터, TV 및 휴대폰 등 정보통신 설비를 이용하여 상품 또는 용역(이하 “상품 등”이라 함)을 이용자에게 제공하기 위하여 설정한 가상의 영업장을 말합니다.
                                2. “매장”이란 회사가 상품 등을 이용자에게 제공하기 위해 운영하는 물리적 공간 또는 관련된 오프라인 영업장을 말합니다.
                                3. “이용자”란 사이트에 접속하거나 매장에 방문하여 본 약관에 따라 회사가 제공하는 서비스를 받는 자로서, (구매)회원, 판매회원 및 비회원을 포함한다.
                                1) “회원” 또는 “구매회원”이란 회사에서 제공하는 구매서비스를 이용할 수 있는 자로, 정회원, 간편가입회원 및 제휴회원을 의미합니다.
                                ① “정회원”이란 롯데멤버스㈜가 운영하는 L.POINT 회원 중 L.POINT Single Sign On 서비스를 통하여 본 약관에 동의하고 회사의 회원으로 가입한 자를 의미합니다. 이때 L.POINT 회원 및 Single Sign On 서비스의 정의는 롯데멤버스㈜의 L.POINT 이용 약관에 따릅니다. * 롯데멤버스 사이트 URL : http://www.lottemembers.com
                                ② “간편가입회원”이란 이메일 인증 또는 휴대전화번호 인증 또는 소셜서비스(네이버, 카카오 등)를 통해 사이트의 회원으로 가입하고, 회사가 제공하는 온라인 서비스를 이용할 수 있는 자를 의미합니다. 지원하는 소셜서비스 종류 등 세부 가입 방식은 각 사이트별 운영 정책에 따라 달라질 수 있습니다.
                                ③ “제휴회원”이란 회사가 제휴한 채널(사이트 등)에서 정한 조건과 방법에 따라 회사 또는 판매회원의 상품 등을 구입할 수 있는 자를 의미합니다. 단, 제휴회원에 대해서는 상품 등의 구입을 신청한 해당 제휴 채널의 정책을 우선하여 적용합니다.
                                2) “판매회원”이란 본 약관에 동의하고 별도의 인증절차를 거쳐 회사가 사이트에서 판매를 승인한 자를 말합니다. 단, 판매회원의 자격이나 승인 결정 기준은 회사의 사정에 따라 변경될 수 있습니다.
                                3) “비회원”이란 회사의 구매회원 또는 판매회원의 자격을 득하지 않고 회사의 서비스를 이용하는 자를 말합니다. 이때 회사는 비회원에게는 사이트 또는 매장별로 상품 등의 구입을 제한하거나 일부 서비스를 제공하지 않을 수 있으며, 비회원은 이에 대하여 이의를 제기할 수 없습니다.
                                4. “아이디(ID)”란 회원 식별과 회원의 서비스 이용을 위하여 회원이 선정하고 회사가 승인한 문자와 숫자 등의 조합을 말합니다.
                                5. “비밀번호(PASSWORD)”란 회원 본인 확인 및 회원의 개인정보, 거래정보의 보호를 위하여 회원 자신이 설정한 문자와 숫자 등의 조합을 말합니다.
                                6. “가격할인”이란 판매회원이 회사의 서비스를 통하여 상품 등을 판매할 때 특정 상품 등의 판매가격을 변경하여 할인하는 것을 말합니다.
                                7. “할인쿠폰”이란 명칭을 불문하고 구매회원이 사이트 또는 매장에서 상품 등의 구매시, 판매가격에서 표시된 금액 또는 비율만큼 할인을 적용한 가격을 기준으로 대금을 지급하고 상품 등을 공급받을 수 있는 온/오프라인 할인수단을 말합니다. 할인쿠폰은 회사 또는 판매회원이 임의 또는 협의하여 발급할 수 있으며, 판매회원이 명시적으로 발급의 중단을 요청한 경우에는 회사는 즉시 발급을 중단합니다. 할인쿠폰의 사용조건, 사용기간, 발급횟수 등은 할인쿠폰별로 상이하게 정할 수 있으며, 회사 또는 판매회원의 사정에 따라 쿠폰 발급은 임의로 중단될 수 있습니다.
                                8. “L.POINT(엘포인트)”란 L.POINT회원이 L.POINT 제휴사에서 적립 받거나 결제수단으로 사용할 수 있는 포인트로, 롯데멤버스㈜가 운영, 관리하는 포인트를 말합니다.
                                9. “운영자”란 “회사”가 제공하는 서비스의 전반적인 관리와 원활한 운영을 위하여 회사가 선정한 자를 말합니다.
                                10. “구매안전서비스”란 회사가 구매회원의 결제대금의 보호를 위하여 일정 기간 동안 결제대금을 예치하는 서비스를 말합니다.
                                11. “고객서비스센터”란 이용자의 서비스 이용과 관련한 문의를 처리하거나 이용자간의 분쟁을 합리적이고 원활하게 조정하기 위하여 회사가 설치 및 운영하는 기구를 말합니다.
                                12. “안전거래센터”란 회사 서비스 이용 중 거래의 안전과 관련하여 발생할 수 있는 제 문제를 조정하기 위한 기구를 말합니다.
                                13. 본 조에서 정의되지 않은 본 약관 상의 용어의 의미는 관련법령 및 일반적인 거래관행에 따릅니다.</td>
                        </tr>
                        <tr>
                            <th>제3조</th>
                        </tr>
                        <tr>
                            <td>내용</td>
                        </tr>
                    </table>
                </div>
                <!--전자금융거래 끝-->
                
                <div class="tab_content" id="location" style="display: none;">
                    <h3>위치정보 이용약관</h3>
                    <table>
                        <tr>
                            <th>제1조(목적)</th>
                        </tr>
                        <tr>
                            <td>본 약관은 롯데쇼핑㈜(이하 "회사"라 함)가 운영하는 사이트, 온라인 쇼핑몰 및 매장에서 제공하는 관련 서비스(모바일 및 인터넷 관련 서비스 포함, 이하 “서비스”라 함)를 이용함에 있어 회사와 회사의 서비스를 이용하는 자간의 권리 의무 및 책임 사항을 규정하는데 목적이 있습니다.

                                ※ [참고] 본 약관이 적용되는 사이트 및 매장 자세히 보기
                                (단, 제공 서비스에 따라 개별약관 동의가 필요할 수 있으며, 개별약관을 우선하여 적용합니다.)</td>
                        </tr>
                        <tr>
                            <th>제2조(용어의 정의)</th>
                        </tr>
                        <tr>
                            <td>1. "사이트"란 회사가 컴퓨터, TV 및 휴대폰 등 정보통신 설비를 이용하여 상품 또는 용역(이하 “상품 등”이라 함)을 이용자에게 제공하기 위하여 설정한 가상의 영업장을 말합니다.
                                2. “매장”이란 회사가 상품 등을 이용자에게 제공하기 위해 운영하는 물리적 공간 또는 관련된 오프라인 영업장을 말합니다.
                                3. “이용자”란 사이트에 접속하거나 매장에 방문하여 본 약관에 따라 회사가 제공하는 서비스를 받는 자로서, (구매)회원, 판매회원 및 비회원을 포함한다.
                                1) “회원” 또는 “구매회원”이란 회사에서 제공하는 구매서비스를 이용할 수 있는 자로, 정회원, 간편가입회원 및 제휴회원을 의미합니다.
                                ① “정회원”이란 롯데멤버스㈜가 운영하는 L.POINT 회원 중 L.POINT Single Sign On 서비스를 통하여 본 약관에 동의하고 회사의 회원으로 가입한 자를 의미합니다. 이때 L.POINT 회원 및 Single Sign On 서비스의 정의는 롯데멤버스㈜의 L.POINT 이용 약관에 따릅니다. * 롯데멤버스 사이트 URL : http://www.lottemembers.com
                                ② “간편가입회원”이란 이메일 인증 또는 휴대전화번호 인증 또는 소셜서비스(네이버, 카카오 등)를 통해 사이트의 회원으로 가입하고, 회사가 제공하는 온라인 서비스를 이용할 수 있는 자를 의미합니다. 지원하는 소셜서비스 종류 등 세부 가입 방식은 각 사이트별 운영 정책에 따라 달라질 수 있습니다.
                                ③ “제휴회원”이란 회사가 제휴한 채널(사이트 등)에서 정한 조건과 방법에 따라 회사 또는 판매회원의 상품 등을 구입할 수 있는 자를 의미합니다. 단, 제휴회원에 대해서는 상품 등의 구입을 신청한 해당 제휴 채널의 정책을 우선하여 적용합니다.
                                2) “판매회원”이란 본 약관에 동의하고 별도의 인증절차를 거쳐 회사가 사이트에서 판매를 승인한 자를 말합니다. 단, 판매회원의 자격이나 승인 결정 기준은 회사의 사정에 따라 변경될 수 있습니다.
                                3) “비회원”이란 회사의 구매회원 또는 판매회원의 자격을 득하지 않고 회사의 서비스를 이용하는 자를 말합니다. 이때 회사는 비회원에게는 사이트 또는 매장별로 상품 등의 구입을 제한하거나 일부 서비스를 제공하지 않을 수 있으며, 비회원은 이에 대하여 이의를 제기할 수 없습니다.
                                4. “아이디(ID)”란 회원 식별과 회원의 서비스 이용을 위하여 회원이 선정하고 회사가 승인한 문자와 숫자 등의 조합을 말합니다.
                                5. “비밀번호(PASSWORD)”란 회원 본인 확인 및 회원의 개인정보, 거래정보의 보호를 위하여 회원 자신이 설정한 문자와 숫자 등의 조합을 말합니다.
                                6. “가격할인”이란 판매회원이 회사의 서비스를 통하여 상품 등을 판매할 때 특정 상품 등의 판매가격을 변경하여 할인하는 것을 말합니다.
                                7. “할인쿠폰”이란 명칭을 불문하고 구매회원이 사이트 또는 매장에서 상품 등의 구매시, 판매가격에서 표시된 금액 또는 비율만큼 할인을 적용한 가격을 기준으로 대금을 지급하고 상품 등을 공급받을 수 있는 온/오프라인 할인수단을 말합니다. 할인쿠폰은 회사 또는 판매회원이 임의 또는 협의하여 발급할 수 있으며, 판매회원이 명시적으로 발급의 중단을 요청한 경우에는 회사는 즉시 발급을 중단합니다. 할인쿠폰의 사용조건, 사용기간, 발급횟수 등은 할인쿠폰별로 상이하게 정할 수 있으며, 회사 또는 판매회원의 사정에 따라 쿠폰 발급은 임의로 중단될 수 있습니다.
                                8. “L.POINT(엘포인트)”란 L.POINT회원이 L.POINT 제휴사에서 적립 받거나 결제수단으로 사용할 수 있는 포인트로, 롯데멤버스㈜가 운영, 관리하는 포인트를 말합니다.
                                9. “운영자”란 “회사”가 제공하는 서비스의 전반적인 관리와 원활한 운영을 위하여 회사가 선정한 자를 말합니다.
                                10. “구매안전서비스”란 회사가 구매회원의 결제대금의 보호를 위하여 일정 기간 동안 결제대금을 예치하는 서비스를 말합니다.
                                11. “고객서비스센터”란 이용자의 서비스 이용과 관련한 문의를 처리하거나 이용자간의 분쟁을 합리적이고 원활하게 조정하기 위하여 회사가 설치 및 운영하는 기구를 말합니다.
                                12. “안전거래센터”란 회사 서비스 이용 중 거래의 안전과 관련하여 발생할 수 있는 제 문제를 조정하기 위한 기구를 말합니다.
                                13. 본 조에서 정의되지 않은 본 약관 상의 용어의 의미는 관련법령 및 일반적인 거래관행에 따릅니다.</td>
                        </tr>
                        <tr>
                            <th>제3조</th>
                        </tr>
                        <tr>
                            <td>내용</td>
                        </tr>
                    </table>
                </div>
                <!--위처정보약관 끝-->

                <div class="tab_content" id="personal" style="display: none;">
                    <h3>개인정보처리방침</h3>
                    <table>
                        <tr>
                            <th>제1조(목적)</th>
                        </tr>
                        <tr>
                            <td>본 약관은 롯데쇼핑㈜(이하 "회사"라 함)가 운영하는 사이트, 온라인 쇼핑몰 및 매장에서 제공하는 관련 서비스(모바일 및 인터넷 관련 서비스 포함, 이하 “서비스”라 함)를 이용함에 있어 회사와 회사의 서비스를 이용하는 자간의 권리 의무 및 책임 사항을 규정하는데 목적이 있습니다.

                                ※ [참고] 본 약관이 적용되는 사이트 및 매장 자세히 보기
                                (단, 제공 서비스에 따라 개별약관 동의가 필요할 수 있으며, 개별약관을 우선하여 적용합니다.)</td>
                        </tr>
                        <tr>
                            <th>제2조(용어의 정의)</th>
                        </tr>
                        <tr>
                            <td>1. "사이트"란 회사가 컴퓨터, TV 및 휴대폰 등 정보통신 설비를 이용하여 상품 또는 용역(이하 “상품 등”이라 함)을 이용자에게 제공하기 위하여 설정한 가상의 영업장을 말합니다.
                                2. “매장”이란 회사가 상품 등을 이용자에게 제공하기 위해 운영하는 물리적 공간 또는 관련된 오프라인 영업장을 말합니다.
                                3. “이용자”란 사이트에 접속하거나 매장에 방문하여 본 약관에 따라 회사가 제공하는 서비스를 받는 자로서, (구매)회원, 판매회원 및 비회원을 포함한다.
                                1) “회원” 또는 “구매회원”이란 회사에서 제공하는 구매서비스를 이용할 수 있는 자로, 정회원, 간편가입회원 및 제휴회원을 의미합니다.
                                ① “정회원”이란 롯데멤버스㈜가 운영하는 L.POINT 회원 중 L.POINT Single Sign On 서비스를 통하여 본 약관에 동의하고 회사의 회원으로 가입한 자를 의미합니다. 이때 L.POINT 회원 및 Single Sign On 서비스의 정의는 롯데멤버스㈜의 L.POINT 이용 약관에 따릅니다. * 롯데멤버스 사이트 URL : http://www.lottemembers.com
                                ② “간편가입회원”이란 이메일 인증 또는 휴대전화번호 인증 또는 소셜서비스(네이버, 카카오 등)를 통해 사이트의 회원으로 가입하고, 회사가 제공하는 온라인 서비스를 이용할 수 있는 자를 의미합니다. 지원하는 소셜서비스 종류 등 세부 가입 방식은 각 사이트별 운영 정책에 따라 달라질 수 있습니다.
                                ③ “제휴회원”이란 회사가 제휴한 채널(사이트 등)에서 정한 조건과 방법에 따라 회사 또는 판매회원의 상품 등을 구입할 수 있는 자를 의미합니다. 단, 제휴회원에 대해서는 상품 등의 구입을 신청한 해당 제휴 채널의 정책을 우선하여 적용합니다.
                                2) “판매회원”이란 본 약관에 동의하고 별도의 인증절차를 거쳐 회사가 사이트에서 판매를 승인한 자를 말합니다. 단, 판매회원의 자격이나 승인 결정 기준은 회사의 사정에 따라 변경될 수 있습니다.
                                3) “비회원”이란 회사의 구매회원 또는 판매회원의 자격을 득하지 않고 회사의 서비스를 이용하는 자를 말합니다. 이때 회사는 비회원에게는 사이트 또는 매장별로 상품 등의 구입을 제한하거나 일부 서비스를 제공하지 않을 수 있으며, 비회원은 이에 대하여 이의를 제기할 수 없습니다.
                                4. “아이디(ID)”란 회원 식별과 회원의 서비스 이용을 위하여 회원이 선정하고 회사가 승인한 문자와 숫자 등의 조합을 말합니다.
                                5. “비밀번호(PASSWORD)”란 회원 본인 확인 및 회원의 개인정보, 거래정보의 보호를 위하여 회원 자신이 설정한 문자와 숫자 등의 조합을 말합니다.
                                6. “가격할인”이란 판매회원이 회사의 서비스를 통하여 상품 등을 판매할 때 특정 상품 등의 판매가격을 변경하여 할인하는 것을 말합니다.
                                7. “할인쿠폰”이란 명칭을 불문하고 구매회원이 사이트 또는 매장에서 상품 등의 구매시, 판매가격에서 표시된 금액 또는 비율만큼 할인을 적용한 가격을 기준으로 대금을 지급하고 상품 등을 공급받을 수 있는 온/오프라인 할인수단을 말합니다. 할인쿠폰은 회사 또는 판매회원이 임의 또는 협의하여 발급할 수 있으며, 판매회원이 명시적으로 발급의 중단을 요청한 경우에는 회사는 즉시 발급을 중단합니다. 할인쿠폰의 사용조건, 사용기간, 발급횟수 등은 할인쿠폰별로 상이하게 정할 수 있으며, 회사 또는 판매회원의 사정에 따라 쿠폰 발급은 임의로 중단될 수 있습니다.
                                8. “L.POINT(엘포인트)”란 L.POINT회원이 L.POINT 제휴사에서 적립 받거나 결제수단으로 사용할 수 있는 포인트로, 롯데멤버스㈜가 운영, 관리하는 포인트를 말합니다.
                                9. “운영자”란 “회사”가 제공하는 서비스의 전반적인 관리와 원활한 운영을 위하여 회사가 선정한 자를 말합니다.
                                10. “구매안전서비스”란 회사가 구매회원의 결제대금의 보호를 위하여 일정 기간 동안 결제대금을 예치하는 서비스를 말합니다.
                                11. “고객서비스센터”란 이용자의 서비스 이용과 관련한 문의를 처리하거나 이용자간의 분쟁을 합리적이고 원활하게 조정하기 위하여 회사가 설치 및 운영하는 기구를 말합니다.
                                12. “안전거래센터”란 회사 서비스 이용 중 거래의 안전과 관련하여 발생할 수 있는 제 문제를 조정하기 위한 기구를 말합니다.
                                13. 본 조에서 정의되지 않은 본 약관 상의 용어의 의미는 관련법령 및 일반적인 거래관행에 따릅니다.</td>
                        </tr>
                        <tr>
                            <th>제3조</th>
                        </tr>
                        <tr>
                            <td>내용</td>
                        </tr>
                    </table>
                </div>
                <!--개인정보처리 끝-->
            </section>
        </section>
    </main>
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            const menuItems = document.querySelectorAll(".sub_menu li");
            const contents = document.querySelectorAll(".tab_content");

            menuItems.forEach(item => {
                item.addEventListener("click", function (e) {
                    e.preventDefault();

                    // 메뉴 선택 표시 초기화
                    menuItems.forEach(i => i.classList.remove("selected"));
                    this.classList.add("selected");

                    // 콘텐츠 표시 전환
                    const targetId = this.getAttribute("data-target");
                    contents.forEach(content => {
                        content.style.display = (content.id === targetId) ? "block" : "none";
                    });
                });
            });
        });
        document.addEventListener("DOMContentLoaded", function () {
            const printBtn = document.getElementById("printBtn");
            const tabContents = document.querySelectorAll(".tab_content");

            printBtn.addEventListener("click", function () {
                // 현재 보이는 탭만 출력
                tabContents.forEach(tab => {
                    if (tab.style.display !== "none") {
                        const originalContent = document.body.innerHTML;
                        document.body.innerHTML = tab.innerHTML;
                        window.print();
                        document.body.innerHTML = originalContent;
                        location.reload(); // 프린트 후 원래 페이지로 복구
                    }
                });
            });
            
        });
    </script>

    <footer>
        <div class="footerContainer">
            <div class="footerTopMenu">
                <ul>
                    <li><a href="#">회사소개</a></li>
                    <li><a href="#">이용약관</a></li>
                    <li><a href="#">전자금융거래약관</a></li>
                    <li><a href="#" class="bold2">개인정보처리방침</a></li>
                    <li><a href="#">청소년보호방침</a></li>
                    <li><a href="#">임직원등록</a></li>
                    <li><a href="#">준법경영</a></li>
                    <li><a href="#">오류신고</a></li>
                    <li><a href="#">리서치 패널가입</a></li>
                </ul>
                <div class="selectMenu">
                    <select onchange="window.open(value,'_blank');">
                        <option selected disabled>판매자서비스</option>
                        <option value="https://support.lotteon.com/">판매자교육 센터</option>
                        <option value="https://api.lotteon.com/">API센터</option>
                    </select>
                    <select onchange="window.open(value,'_blank');">
                        <option selected disabled>Family Site</option>
                        <option value="https://www.lotteeatz.com/eatzevent.html">롯데리아</option>
                        <option value="https://kor.lottedfs.com/kr/shopmain/home">롯데면세점</option>
                        <option value="https://www.lottecinema.co.kr/">롯데시네마</option>
                        <option value="https://www.lotteworld.com/">롯데월드</option>
                        <option value="https://www.giantsclub.com/">롯데자이언츠</option>
                    </select>
                </div>
            </div>
            <hr>
            <div class="companyInfo">
                <img src="/images/lotteOn_footer_logo.png" alt="footerLogo">
                <div class="infoWrapper">
                    <div class="company">
                        <h3>롯데쇼핑 주식회사</h3>
                        <ul>
                            <li>대표이사 : 김사무엘상현, 신동빈, 정준호, 강성현</li>
                            <li>주소 : 서울특별시 강남구 테헤란로 507 (삼성동, WeWork빌딩), 7층</li>
                            <li>사업자등록번호 : 529-85-00774(롯데쇼핑(주) e커머스사업부)</li>
                            <li>
                                통신판매업 신고 : 2024-서울강남-04439&nbsp;
                                <a href="https://www.ftc.go.kr/bizCommPop.do?wrkr_no=5298500774" class="anchorLine" target="_blank">사업자 정보 확인</a>
                            </li>
                            <li>호스팅 서비스사업자 : 롯데쇼핑(주) e커머스사업부</li>
                        </ul>
                        <h4>롯데쇼핑 e커머스 사업부 에스크로</h4>
                        <p>
                            고객님의 안전거래를 위해 현금 등으로 결제 시 결제금액 전액에 대해
                            <br>
                            소비자 피해 방지 서비스를 이용합니다.
                        </p>
                    </div>
                    <div class="customer">
                        <h3>고객센터</h3>
                        <div>
                            <p>전화번호 : 1899-7000(유료)</p>
                            <p>
                                E-mail :
                                <a href="#">lotteon@lotte.net</a>
                            </p>
                            <p>
                                <a href="#" class="anchorLine" target="_blank">분쟁해결기준</a>
                            </p>
                        </div>
                        <div>
                            <ul class="list">
                                <li>
                                    <a href="#">FAQ 보기</a>
                                </li>
                                <li>
                                    <a href="#">1:1 문의하기</a>
                                </li>
                                <li>
                                    <a href="#">고객센터</a>
                                </li>
                                <li>
                                    <a href="#">공지사항</a>
                                </li>
                            </ul>
                        </div>
                        <h3>전자금융거래 분쟁 담당</h3>
                        <div>
                            <p>Tel : 1899-7000(유료)</p>
                            <p>
                                E-mail :
                                <a href="#" class="anchorLine">lotteon@lotte.net</a>
                            </p>
                            <p>
                                <a href="#" class="anchorLine" target="_blank">안전거래센터</a>
                            </p>
                        </div>
                        <div>
                            <h3>콘텐츠산업진흥법에 의한 콘텐츠보호안내</h3>
                            <a href="#" class="anchorLine">자세히보기</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="outlink">
                <a href="https://www.lotteon.com/common/footerSafePopup">
                    <img src="/images/ico_footer2.png">
                </a>
                <a href="https://kolsa.or.kr/">
                    <img src="/images/ico_footer1.png">
                </a>
                <a href="https://hometax.go.kr/">
                    <img src="/images/ico_footer3.png">
                </a>
                <a href="http://upss.gs1kr.org/">
                    <img src="/images/ico_footer4.png">
                </a>
                <a href="https://107.relaycall.or.kr">
                    <img src="/images/ico_footer5.png">
                </a>
                <a href="https://www.pipc.go.kr/np/cop/bbs/selectBoardArticle.do?bbsId=BS213&mCode=C040050000&nttId=8926">
                    <img src="/images/ico_footer6.png">
                </a>
            </div>
        </div>
        <hr>
        <div class="footerInfo">
            <p>롯데쇼핑(주)는 통신판매중개자이며 통신판매의 거래당사자가 아닙니다. 입점판매자가 등록한 상품정보 및 거래에 대해 롯데쇼핑(주)는 일체 책임을 지지 않습니다.</p>
            <p>Copyright © LOTTESHOPPING Co., LTD. All rights reserved.</p>
        </div>
    </footer>
</body>

</html>