* {
    margin: 0;
    padding: 0;
    font-family: "Pretendard Variable", Pretendard, sans-serif;
    font-size: 16px;
    color: #333;
}

a {
    text-decoration: none;
}

ul,
li {
    list-style: none;
}

body {
    min-width: 1200px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;


}

.container{
    min-height: 695px;
    height: auto;
}
.mypage-header{
    width: 1110px;
    height: 75px;
    background-color: #f2f2f2;
    position: relative;
    margin-left: 370px;

}
.mypage-title{
    float: left;
    position: relative;
    margin-top: 28px;
    margin-left: 28px;
    font-weight: bold;
}

.mypage-shortcuts{
    display: flex;
    justify-content: end;
    margin-top: 20px;
    margin-right: 20px;
}

.mypage-shortcuts ul{
    display: flex;
    padding: 0;
    gap: 0;
    margin: 0;
    list-style: none;
    overflow: hidden;
    text-align: center;
}

.mypage-shortcuts li{
    position: relative;
    flex: 1;
    padding: 5px 8px;
    min-width: 60px;
    text-align: center;
    white-space: nowrap;

}
.mypage-shortcuts li:not(:last-child)::after{
    content: "";
    position: absolute;
    top: 25%;
    right: 0;
    height: 50%;
    width: 1px;
    background-color: #ccc;

}

.mypage-shortcuts li:last-child{
    border-right: none;
}

.mypage-shortcuts a{
    display: inline-block;
    padding: 5px 10px;
    text-decoration: none;
    color: #333;
    white-space: nowrap;
}

.mypage-shortcuts .label{
    display: block;
    font-size: 15px;
    font-weight: bold;
    margin-top: 10px;
}

.mypage-shortcuts .value{
    display: block;
    margin-top: 10px;
    font-size: 14px;
}

.container .div_section{
    width: 1200px;
    height: auto;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    margin-left: 358px;
}
.container .div_section .left_section{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    width: 160px;
    position: relative;
    /*right: 235px;*/
    /*bottom: 4px;*/
}

.container .div_section .left_section .sidebar{
    height: 692px;
    width: 150px;
    display: block;
    position: relative;
    border-right: 1px solid #9b9a9c;
}
.sidebar ul li{
    padding: 6px 0;
    margin: 6px 0;
    margin-left: 21px;
    margin-top: 10px;

}

.sidebar ul li a{
    font-size: 16px !important;
    color: #000000;
}
.right_section{
    height: auto;
    width: 1000px;
}

.right_section .banner{
    border: 1px solid green;
    width: 810px;
    height: 86px;
    position: relative;
    margin-top: 20px;
    margin-left: 80px;
}
.right_section .article_title{
    position: relative;
    margin-top: 20px;
    margin-left: 50px;

}

.article_title h3{
    font-size: 18px;
    font-weight: bold;
}

.right_section .article_title a{
    float: right;
    position: relative;
    bottom: 20px;
    right: 50px;
}

.right_section .table{
    position: relative;
    margin-left: 50px;
    width: 900px;
    height: auto;
    border-collapse: collapse;
}
thead th:nth-child(2){
    width: 413.63px;
}

thead th:nth-child(4){
    width: 158px;
    height: 44px;
}
thead th{
    border-top: 1.7px solid #000000;
    background-color: #a6a6a6;
    width: auto;
    height: 43.26px;
    color: #ffffff;
    font-size: 14px;
    font-weight: 700;
    border-bottom: 0.4px solid #a6a6a6;
}
table tr{
    width: auto;
    height: auto;
}

table tr:nth-child(1){
    border-bottom: 0.4px solid #a6a6a6;
}

table tr:nth-child(1) td:nth-child(1){
    font-size: 14px;
    font-weight: 400;
    color: #000000;
    position: relative;
    left: 60px;
}

table tr:nth-child(2){
    border-bottom: 0.4px solid #a6a6a6;
}

table td{
    height: 120px;

}
table div{
    width: 118.32px;
    height: 115px;
}

table p a{
    text-decoration: underline;
}

table p {
    font-size: 14px;
    font-weight: 400;
    color: #000000;
    position: relative;
    left: 175px;
    bottom: 70px;
    gap: 10px;
    letter-spacing: 0.5px;

}

table td img{
    width: 118.32px;
    height: 115px;
    border: 1.98px solid #d8d8d8;
    position: relative;
    top: 45px;
    left: 30px;
}

table tr:nth-child(1) td:nth-child(3){
    font-size: 14px;
    color: #000000;
    position: relative;
    text-align: center;
    font-weight: bold;
}

table tr:nth-child(1) td:nth-child(4){
    width: 158px;
    height: auto;
}

table button{
    width: 102px;
    height: 31px;
    display: flex;
    position: relative;
    margin-bottom: 4px;
    bottom: 10px;
    padding: 5px 3px;
    left: 30px;
    justify-content: center;
    text-align: center;
    align-items: flex-start;
    border: none;
}

.btn_blue{
    background-color: #558ed5;
    color: #ffffff;
}

table tr:nth-child(2) td:nth-child(1){
    font-size: 14px;
    font-weight: 400;
    color: #000000;
    position: relative;
    left: 60px;
}

table tr:nth-child(2) td:nth-child(3){
    font-size: 14px;
    color: #000000;
    position: relative;
    text-align: center;
    font-weight: bold;
}

.article_title2{
    position: relative;
    margin-top: 20px;
    margin-left: 50px;
}
.article_title2 h3{
    font-size: 18px;
    font-weight: bold;
    border-bottom: 10px wave black;
}


