* {
    margin: 0;
    padding: 0;
    font-family: "Pretendard Variable", Pretendard, sans-serif;
    font-size: 16px;
    color: #333;
}

a {
    text-decoration: none;
}

ul,
li {
    list-style: none;
}

body {
    min-width: 1200px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;


}

.main_container{
    margin: 0 auto;
    min-height: 695px;
    height: auto;
}
.mypage-header{
    width: 1110px;
    height: 75px;
    background-color: #f2f2f2;
    position: relative;
    margin-left: 370px;
    bottom: 16px;

}
.mypage-title{
    float: left;
    position: relative;
    margin-top: 28px;
    margin-left: 28px;
    font-weight: bold;
}

.mypage-shortcuts{
    display: flex;
    justify-content: end;
    margin-top: 20px;
    margin-right: 20px;
}

.mypage-shortcuts ul{
    display: flex;
    padding: 0;
    gap: 0;
    margin: 0;
    list-style: none;
    overflow: hidden;
    text-align: center;
}

.mypage-shortcuts li{
    position: relative;
    flex: 1;
    padding: 5px 8px;
    min-width: 60px;
    text-align: center;
    white-space: nowrap;

}
.mypage-shortcuts li:not(:last-child)::after{
    content: "";
    position: absolute;
    top: 25%;
    right: 0;
    height: 50%;
    width: 1px;
    background-color: #ccc;

}

.mypage-shortcuts li:last-child{
    border-right: none;
}

.mypage-shortcuts a{
    display: inline-block;
    padding: 5px 10px;
    text-decoration: none;
    color: #333;
    white-space: nowrap;
}

.mypage-shortcuts .label{
    display: block;
    font-size: 15px;
    font-weight: bold;
    margin-top: 10px;
}

.mypage-shortcuts .value{
    display: block;
    margin-top: 10px;
    font-size: 14px;
}

.main_container .div_section{
    width: 1200px;
    height: auto;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    margin-left: 358px;
}
.main_container .div_section .left_section{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    width: 160px;
    position: relative;
    bottom: 16.50px;
    /*right: 235px;*/
    /*bottom: 4px;*/
}

.main_container .div_section .left_section .sidebar{
    height: 692px;
    width: 150px;
    display: block;
    position: relative;
    border-right: 1px solid #9b9a9c;
}
.sidebar ul li{
    padding: 6px 0;
    margin: 6px 0;
    margin-left: 21px;
    margin-top: 10px;

}

.sidebar ul li a{
    font-size: 16px !important;
    color: #000000;
}
.right_section{
    height: auto;
    width: 1000px;
}

.right_section .banner{
    border: 1px solid green;
    width: 810px;
    height: 86px;
    position: relative;
    margin-top: 20px;
    margin-left: 80px;
}
.right_section .article_title{
    position: relative;
    margin-top: 20px;
    margin-left: 50px;

}

.article_title h3{
    font-size: 18px;
    font-weight: bold;
}

.right_section .article_title a{
    float: right;
    position: relative;
    bottom: 20px;
    right: 50px;
}

.right_section .table{
    position: relative;
    margin-left: 50px;
    width: 900px;
    height: auto;
    border-collapse: collapse;
}
.table thead th:nth-child(2){
    width: 413.63px;
}

.table thead th:nth-child(4){
    width: 158px;
    height: 44px;
}
.table thead th{
    border-top: 1.7px solid #000000;
    background-color: #a6a6a6;
    width: auto;
    height: 43.26px;
    color: #ffffff;
    font-size: 14px;
    font-weight: 700;
    border-bottom: 0.4px solid #a6a6a6;
}
table tr{
    width: auto;
    height: auto;
}

table .table-tr1{
    border-bottom: 0.4px solid #a6a6a6;
}

.table-tr1 td:nth-child(1){
    font-size: 14px;
    font-weight: 400;
    color: #000000;
    position: relative;
    left: 60px;
}

.table tr:nth-child(2){
    border-bottom: 0.4px solid #a6a6a6;
}

.table-td{
    height: 120px;

}
.table div{
    width: 118.32px;
    height: 115px;
}

.table p a{
    text-decoration: underline;
}

.table p {
    font-size: 14px;
    font-weight: 400;
    color: #000000;
    position: relative;
    left: 175px;
    bottom: 70px;
    gap: 10px;
    letter-spacing: 0.5px;

}

.table .main_img1{
    width: 118.32px;
    height: 115px;
    border: 1.98px solid #d8d8d8;
    position: relative;
    top: 45px;
    left: 30px;
}

table tr:nth-child(1) .baesong{
    font-size: 14px;
    color: #000000;
    position: relative;
    text-align: center;
    font-weight: bold;
}

.table tr:nth-child(1) td:nth-child(4){
    width: 158px;
    height: auto;
}

.table button{
    width: 102px;
    height: 31px;
    display: flex;
    position: relative;
    margin-bottom: 4px;
    bottom: 10px;
    padding: 5px 3px;
    left: 30px;
    justify-content: center;
    text-align: center;
    align-items: flex-start;
    border: none;
}

.btn_blue{
    background-color: #558ed5;
    color: #ffffff;
}

.table tr:nth-child(2) td:nth-child(1){
    font-size: 14px;
    font-weight: 400;
    color: #000000;
    position: relative;
    left: 60px;
}

.table tr:nth-child(2) td:nth-child(3){
    font-size: 14px;
    color: #000000;
    position: relative;
    text-align: center;
    font-weight: bold;
}

.article_title2{
    position: relative;
    margin-top: 20px;
    margin-left: 50px;
}
.article_title2 h3{
    font-size: 18px;
    font-weight: bold;
    border-bottom: 10px wave black;
}


/*------------- 주문 모달 창----------------*/
.modal{
    position: fixed;
    border: 2px solid #f2f2f2;
    width: 910px;
    height: 585px;
    margin-top: 7%;
    margin-left: 25%;
    height: 600px;
    display: none;
    z-index: 1000;
    background-color: #ffffff;
}
.modal-content{
    width: auto;
    height: auto;
}

.modal-content .modal-header{
    background-color: #558ed5;
    color: #ffffff;
    display: flex;
    height: 45px;
}
.modal-header h2{
    font-size: 20px;
    font-weight: 700;
    margin-top: 8px;
    margin-left: 10px;
    margin-right: 20px;
    color: #ffffff;
}
.modal-header p{
    color: #ffffff;
    margin-top: 10px;
}

.modal-header .close{
    position: relative;
    margin-left: 695px;
    font-size: 22px;
    margin-top: 8px;
    color: #ffffff;
    cursor: pointer;
}

.modal-content .modal-tit{
    font-size: 16px;
    font-weight: 700;
    color: #000000;
    margin-left: 20px;
    margin-top: 10px;
}

.table_one{
    position: relative;
    left: 10px;
    border-collapse: collapse;
    width: 890px;
    height: 100px;
    top: 10px;

}
/*thead*/

.table_one thead tr th:nth-child(1){
    width: 148.76px;
    height: 39.63px;
    background-color: #a6a6a6;
}

.table_one thead tr th:nth-child(2){
    width: 411.36px;
    height: 39.63px;
    background-color: #a6a6a6;
}

.table_one thead tr th:nth-child(3){
    width: 196.78px;
    height: 39.63px;
    background-color: #a6a6a6;
}

.table_one thead tr th:nth-child(4){
    width: 127.67px;
    height: 39.63px;
    background-color: #a6a6a6;
}
.table_one tr{
    border-bottom: 1px solid #a6a6a6;
}

/*tbody*/
.table_one .modal-tr1 td:nth-child(1){
    padding-left: 35px;
}


.table_one tbody tr:nth-child(1) td:nth-child(2){

}
.table_one tbody tr:nth-child(1) td:nth-child(3){

    padding-left: 25px;
}
.table_one tbody tr:nth-child(1) td:nth-child(4){

    padding-left: 38px;

}

.table_one_div{
    display: flex;
    align-items: flex-start;
    gap: 10px;
}

.table_one_div div{
    position: relative;
    left: 30px;
}

.table_one_div div img{
    border: 1.98px solid #d8d8d8;
    width: 100.2px;
    height: 95px;
    margin-top: 20px;
    margin-left: 20px;
}

.table_one_div p{
    margin: 0;
    font-size: 14px;
    line-height: 1.6;
    color: #000000;
    margin-left: 60px;
    position: relative;
    top: 10px;
}

.strong{
    position: relative;
    bottom: 15px;
}

.table_one tbody td .gyeoljae{
    width: auto;
    height: auto;
    position: relative;
    bottom: 10px;
    left: 1px;
    letter-spacing: 1.5px;
    /*line-height: -1px;*/
}



.modal-tit.tabletwo-tit{
    font-size: 16px;
    font-weight: 700;
    color: #000000;
    margin-left: 20px;
    margin-top: 20px;
}


.table_two{
    position: relative;
    left: 10px;
    border-collapse: collapse;
    width: 890px;
    height: auto;
    top: 23px;

}

.table_two th:nth-child(1){
    width: 100.64px;
    height: 46.77px;
    background-color: #f2f2f2;
}

.table_two th:nth-child(2){
    width: 142.64px;
    height: 46.77px;
    background-color: #f2f2f2;
}

.table_two th:nth-child(3){
    width: 142.64px;
    height: 46.77px;
    background-color: #f2f2f2;
}

.table_two th:nth-child(4){
    width: 142.64px;
    height: 46.77px;
    background-color: #f2f2f2;
}

.table_two tr {

    border-top: 1px solid #a6a6a6;
    border-bottom: 1px solid #a6a6a6;
}
.table_two tr td{
    padding-left: 20px;
}

/*------------- 판매자정보 모달 창----------------*/

.table_three{
    width: 850px;
    height: 450px;
    position: relative;
    left: 10px;
    top: 10px;
    border-collapse: collapse;
}
.table_three tr{
    border-top: 0.4px solid #a6a6a6;
    border-bottom: 0.4px solid #a6a6a6;
}

.table_three tr th{
    width: 200px;
    height: 47px;
    font-size: 14px;
    font-weight: 400;
    font-weight: bold;
    line-height: 100%;
    color: #000000;
    background-color: #f2f2f2;
}

.table_three tr td{
    padding-left: 20px;
    font-size: 14px;
    font-weight: 400;
    line-height: 100%;
    color: #000000;
}

#companyModalBody div{
    position: relative;
    top: 25px;
    left: 10px;
}
#companyModalBody div p{
    font-size: 16px;
    font-weight: 400;
    line-height: 100%;
    letter-spacing: 2px;
    color: #000000;
}

#companyModalBody button{
    width: 132px;
    height: 40px;
    background-color: #558ed5;
    color: #ffffff;
    font-size: 16px;
    font-weight: 400;
    line-height: 100%;
    position: relative;
    left: 375px;
    top: 25px;
    border: none;
}

/*------------- 문의하기 모달 창----------------*/
.inquiry-close{
    display: flex;
    left: 90px;
}

.inquirymodal{
    position: fixed;
    border: 2px solid #f2f2f2;
    width: 740px;
    height: 585px;
    margin-top: 7%;
    margin-left: 30%;
    display: none;
    z-index: 1000;
    background-color: #ffffff;
}

.inquiry-header{
    background-color: #558ed5;
    color: #ffffff;
    height: 45px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 10px;
}
.inquiry-header h2{
    font-size: 20px;
    font-weight: 700;
    color: #ffffff;
    white-space: nowrap;
    transform: translate(-13px, -3px);
}

.inquiry-close{
    font-size: 22px;
    color: #ffffff;
    transform: translate(-180px, -7px);
    cursor: pointer;
}
.table_four{
    width: 665px;
    height: auto;
    border-collapse: collapse;
    position: relative;
    top: 30px;
    left: 30px;
}

.table_four tr{
    border-bottom: 0.6px solid #a6a6a6;
    border-top: 0.6px solid #a6a6a6;
}

.table_four .table-four-th{
    width: 107.09px;
    height: 46.77px;
    font-size: 14px;
    font-weight: 400;
    color: #000000;
    line-height: 100%;
    background-color: #f2f2f2;
}
.table_four .table-four-th2{
    width: 107.09px;
    height: 232.61px;
    background-color: #f2f2f2;
    font-size: 14px;
    font-weight: 400;
    color: #000000;
    line-height: 100%;
}

.table_four tr:nth-child(1) .radio{
    letter-spacing: 3px;
    display: flex;
    align-items: center;
    margin-top: 13px;
    gap: 10px;
    margin-left: 10px;
    font-size: 14px;
    font-weight: 400;
    line-height: 100%;
    color: #000000;
}

.table_four tr:nth-child(1) input[type="radio"]{
    border: 1.98px solid #808080;
}

.table_four tr:nth-child(2) input[type="text"]{
    width: 290.49px;
    height: 35.77px;
    border: 2.49px solid #d9d9d9;
    position: relative;
    left: 10px;
    outline: none;
}


.table_four tr:nth-child(3) input[type="text"]{
    width: 290.49px;
    height: 35.77px;
    border: 2.49px solid #d9d9d9;
    position: relative;
    left: 10px;
    outline: none;
}

.table_four tr:nth-child(4) input[type="text"]{
    width: 542.95px;
    height: 210.9px;
    border: 2.49px solid #d9d9d9;
    position: relative;
    left: 10px;
    outline: none;
}

.inquiry_btn{
    border: 1px solid red;
    display: flex;
    margin-top: 80px;
    width: 266px;
    height: 41px;
    border: none;
    outline: none;
    cursor: pointer;
    gap: 3px;
    padding: 0;
    margin-left: 230px;
}

.btn_left{
    width: 132px;
    height: 40px;
    background-color: #558ed5;
    color: #ffffff;
    font-size: 16px;
    line-height: 100%;
    font-weight: 400;
    outline: none;
    border: none;
    letter-spacing: 3px;
}

.btn_right{
    width: 132px;
    height: 40px;
    background-color: #bfbfbf;
    color: #ffffff;
    font-size: 16px;
    line-height: 100%;
    font-weight: 400;
    outline: none;
    border: none;
}

/*------------- 구매확정 모달 창----------------*/
.confirmmodal{
    position: fixed;
    border: 2px solid #f2f2f2;
    width: 513.64px;
    height: 337.27px;
    margin-top: 13%;
    margin-left: 35%;
    display: none;
    z-index: 1000;
    background-color: #ffffff;
}

.confirm-header{
    background-color: #558ed5;
    color: #ffffff;
    height: 45px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 10px;
}


.confirm-header h2{
    font-size: 20px;
    font-weight: 700;
    color: #ffffff;
    white-space: nowrap;
    transform: translate(-13px, -3px);
}


.confirm-close{
    font-size: 22px;
    color: #ffffff;
    transform: translate(-315px, -7px);
    cursor: pointer;
}

.confirm-p{
    width: 400px;
    height: 149px;
    display: flex;
    margin-top: 85px;
    margin-left: 50px;
}

.confirm-p p{
    font-size: 20px;
    font-weight: 400;
    line-height: 100%;
    letter-spacing: 3px;
    line-height: 1.6;
    color: #000000;
}

.confirm_btn{
    border: 1px solid red;
    display: flex;
    width: 266px;
    height: 41px;
    border: none;
    outline: none;
    cursor: pointer;
    gap: 3px;
    padding: 0;
    margin-left: 110px;
}


.btn_left2{
    width: 132px;
    height: 40px;
    background-color: #558ed5;
    color: #ffffff;
    font-size: 16px;
    line-height: 100%;
    font-weight: 400;
    outline: none;
    border: none;
    letter-spacing: 3px;
}

.btn_right2{
    width: 132px;
    height: 40px;
    background-color: #bfbfbf;
    color: #ffffff;
    font-size: 16px;
    line-height: 100%;
    font-weight: 400;
    outline: none;
    border: none;
}

/*-------------------------상품평모달--------------------------------*/

.reviewmodal{
    position: fixed;
    border: 2px solid #f2f2f2;
    width: 736px;
    height: 547px;
    margin-top: 8%;
    margin-left: 30%;
    display: none;
    z-index: 1000;
    background-color: #ffffff;
}

.review-header{
    background-color: #558ed5;
    color: #ffffff;
    height: 45px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 10px;
}

.review-header h2{
    font-size: 20px;
    font-weight: 700;
    color: #ffffff;
    white-space: nowrap;
    transform: translate(-13px, -3px);
}



.review-close{
    right: 150px;
    bottom: 7px;
}


.table_five{
    width: 665px;
    height: auto;
    border-collapse: collapse;
    position: relative;
    top: 30px;
    left: 30px;
}

.table_five tr{
    border-bottom: 0.4px solid #a6a6a6;
    border-top: 0.4px solid #a6a6a6;
}

.table_five .five-th1{
    width: 107.09px;
    height: 46.77px;
    background-color: #f2f2f2;
    font-size: 14px;
    font-weight: 400;
    line-height: 100%;
    color: #000000;
}
.table_five tr:nth-child(1) td{
    padding: 15px;
}
.star-rating{
    direction: rtl;
    display: inline-flex;
    margin-left: 10px;
    align-items: center;
    height: 46.77px;
}

.star-rating input{
    display: none;
}

.star-rating label{
    width: 28px;
    height: 28px;
    font-size: 25px;
    letter-spacing: 3px;
    color: #d9d9d9;
    cursor: pointer;
    transition: color 0.2s;
}
.star-rating label::before{
    content: "★";
}

.star-rating input:checked ~ label,
.star-rating label:hover,
.star-rating label:hover ~ label {
    color: gold;
}

.table_five .five-th2{
    width: 107.09px;
    height: 46.77px;
    background-color: #f2f2f2;
    font-size: 14px;
    font-weight: 400;
    line-height: 100%;
    color: #000000;
}

.table_five .five-th3{
    width: 107.09px;
    height: 161px;
    background-color: #f2f2f2;
    font-size: 14px;
    font-weight: 400;
    line-height: 100%;
    color: #000000;

}

.table_five .five-th4{
    width: 107.09px;
    height: 117px;
    background-color: #f2f2f2;
    font-size: 14px;
    font-weight: 400;
    line-height: 100%;
    color: #000000;
}




.table_five tr:nth-child(3) td input{
    width: 543px;
    height: 137px;
    margin-left: 10px;
    outline: none;
    border: 2px solid #d9d9d9;
}


.table_five tr:nth-child(3) td input::placeholder{
    width: 543px;
    height: 130px;
    position: relative;
    bottom: 55px;
    left: 5px;
}


.picture-1{
    width: 236.75px;
    height: 32.79px;
    border: 1px solid #bfbfbf;
    left: 10px ;
    position: relative;
    margin-bottom: 3px;
    display: flex;             /* 추가 */
    align-items: center;       /* 세로 정렬 */
    gap: 8px;                  /* 버튼과 글자 사이 여백 */
    padding-left: 5px;         /* 왼쪽 여백 */
}
.picture-btn{
    width: 79.31px;
    height: 23.62px;
    background-color: #bfbfbf;
    display: flex;
    top: 5px;
    left: 5px;
    border: none;
    justify-content: center;
    text-align: center;
    align-items: flex-start;
    padding-top: 3px;
}

.picture-1 p{
    display: flex;
    align-items: center;
    position: relative;
    margin-top: 142px;
    font-size: 14px;
    font-weight: 400;
    color: #000000;
    line-height: 100%;
    margin-left: -165px;

    left: 175px;
    bottom: 70px;
    gap: 10px;
    letter-spacing: 0.5px;
}

.review_btn{
    display: flex;
    width: 266px;
    height: 40.31px;
    border: none;
    outline: none;
    cursor: pointer;
    gap: 3px;
    padding: 0;
    margin-left: 230px;
    margin-top: 50px;

}

.review_btn1{
    width: 132.44px;
    height: 40.31px;
    background-color: #558ed5;
    outline: none;
    border: none;
    color: #ffffff;
    font-size: 16px;
    font-weight: 400;
    line-height: 100%;
}


.review_btn2{
    width: 132.44px;
    height: 40.31px;
    background-color: #bfbfbf;
    outline: none;
    border: none;
    color: #ffffff;
    font-size: 16px;
    font-weight: 400;
    line-height: 100%;
}

/*-----------------------------반품신청 모달-------------------------*/
.returnmodal{
    position: fixed;
    border: 2px solid #f2f2f2;
    width: 743px;
    height: auto;
    margin-top: 8%;
    margin-left: 30%;
    display: none;
    z-index: 1000;
    background-color: #ffffff;
}


.return-header{
    background-color: #558ed5;
    color: #ffffff;
    height: 45px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 10px;
}

.return-header h2{
    font-size: 20px;
    font-weight: 700;
    color: #ffffff;
    white-space: nowrap;
    transform: translate(-13px, -3px);
}



.return-close{
    right: 90px;
    bottom: 5px;
}

.modal-body div:nth-child(1) h2{
    margin-top: 15px;
    margin-left: 15px;
}

.table_six{
    margin-top: 15px;
    margin-left: 12px;
    border-collapse: collapse;
    width: 720px;
}

.table_six thead th:nth-child(1){
    width: 121px;
    height: 40px;
    background-color: #a6a6a6;
    font-size: 14px;
    color: #ffffff;
    font-weight: 700;
    line-height: 100%;
}

.table_six thead th:nth-child(2){
    width: 335px;
    height: 40px;
    background-color: #a6a6a6;
    font-size: 14px;
    color: #ffffff;
    font-weight: 700;
    line-height: 100%;
}

.table_six thead th:nth-child(3){
    width: 104px;
    height: 40px;
    background-color: #a6a6a6;
    font-size: 14px;
    color: #ffffff;
    font-weight: 700;
    line-height: 100%;
}

.table_six thead th:nth-child(4){
    width: 121px;
    height: 40px;
    background-color: #a6a6a6;
    font-size: 14px;
    color: #ffffff;
    font-weight: 700;
    line-height: 100%;
}

.table_six tbody tr td{
    border-bottom: 0.4px solid #a6a6a6;
}

.table_six tr td:nth-child(1){
    padding-left: 15px;
}

.tablesix-imgpdiv{
    display: flex;
    align-items: flex-start;
    gap: 10px;
}

.table_six .tablesix-imgpdiv div {
    position: relative;
    left: 30px;
}
.table_six .tablesix-imgpdiv div img{
    border: 1.98px solid #d8d8d8;
    width: 81px;
    height: 80px;
    margin-top: 25px;
}

.table_six .tablesix-imgpdiv p {
    margin: 0;
    font-size: 14px;
    line-height: 1.6;
    color: #000000;
    margin-left: 60px;
    position: relative;
    top: 10px;
}
.strong_1{
    position: relative;
    bottom: 10px;
}

.table_six tbody tr:nth-child(1) td:nth-child(3){
    padding-left: 25px;
}

.table_six tbody tr:nth-child(1) td:nth-child(3) div{
    width: 140px;
    position: relative;
    right: 10px;
}
.gyeoljae2{
    width: auto;
    height: auto;
    position: relative;
    left: 1px;
    letter-spacing: 1.5px;
}


.table_six tbody tr:nth-child(1) td:nth-child(4){
    padding-left: 30px;
}

.table2-h2{
    margin-top: 15px;
    margin-left: 15px;
}

.table_seven{
    margin-top: 15px;
    margin-left: 15px;
    border-collapse: collapse;
    width: 720px;
}

.table_seven tr{
    border-bottom: 0.4px solid #a6a6a6;
    border-top: 0.4px solid #a6a6a6;
}

.table_seven tr:nth-child(1) th:nth-child(1){
    width: 116px;
    height: 46px;
    background-color: #f2f2f2;
    font-size: 14px;
    font-weight: 400;
    color: #000000;
    line-height: 100%;
}


.table_seven tr:nth-child(2) th:nth-child(1){
    width: 116px;
    height: 86px;
    background-color: #f2f2f2;
    font-size: 14px;
    font-weight: 400;
    color: #000000;
    line-height: 100%;
}

.table_seven tr:nth-child(3) th:nth-child(1){
    width: 116px;
    height: 47px;
    background-color: #f2f2f2;
    font-size: 14px;
    font-weight: 400;
    color: #000000;
    line-height: 100%;
}


.table_seven tr:nth-child(1) .radio{
    letter-spacing: 3px;
    display: flex;
    align-items: center;
    margin-top: 14px;
    gap: 10px;
    margin-left: 10px;
    font-size: 14px;
    font-weight: 400;
    line-height: 100%;
    color: #000000;
}
.table_seven tr:nth-child(2) input{
    width: 584px;
    height: 69px;
    border: 2.49px solid #d9d9d9;
    outline: none;
    margin-left: 10px;
}

.picture-2{
    width: 290px;
    height: 36px;
    border: 2.49px solid #d9d9d9;
    margin-left: 10px;
    display: flex;
    align-items: center;
    gap: 5px;
}

.picture-2 p{
    font-size: 14px;
    color: #000000;
    line-height: 100%;
}

.picture2-btn{
    width: 79px;
    height: 23px;
    background-color: #bfbfbf;
    border: none;
    margin-left: 5px;
    font-size: 12px;
    color: #000000;
    line-height: 100%;
}

.review_btn{
    display: flex;
    width: 266px;
    height: 40.31px;
    border: none;
    outline: none;
    cursor: pointer;
    gap: 3px;
    padding: 0;
    margin-left: 230px;
    margin-top: 50px;
}

.return_btn1{
    width: 132.44px;
    height: 40.31px;
    background-color: #558ed5;
    outline: none;
    border: none;
    color: #ffffff;
    font-size: 16px;
    font-weight: 400;
    line-height: 100%;
    position: relative;
    bottom: 25px;
}
.return_btn2{
    width: 132.44px;
    height: 40.31px;
    background-color: #bfbfbf;
    outline: none;
    border: none;
    color: #ffffff;
    font-size: 16px;
    font-weight: 400;
    line-height: 100%;
    position: relative;
    bottom: 25px;
}

/*---------------------------------*/
.exchangemodal{
    position: fixed;
    border: 2px solid #f2f2f2;
    width: 743px;
    height: auto;
    margin-top: 8%;
    margin-left: 30%;
    display: none;
    z-index: 1000;
    background-color: #ffffff;
}


.exchange-header{
    background-color: #558ed5;
    color: #ffffff;
    height: 45px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 10px;
}

.exchange-header h2{
    font-size: 20px;
    font-weight: 700;
    color: #ffffff;
    white-space: nowrap;
    transform: translate(-13px, -3px);
}



.exchange-close{
    right: 90px;
    bottom: 5px;
}