* {
    margin: 0;
    padding: 0;
    font-family: "Pretendard Variable", Pretendard, sans-serif;
    font-size: 16px;
    color: #333;
}

a {
    text-decoration: none;
}

ul,
li {
    list-style: none;
}

body {
    min-width: 1200px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.container{
    min-height: 695px;
    height: auto;
    margin-bottom: 35px;
}
.mypage-header{
    width: 1110px;
    height: 75px;
    background-color: #f2f2f2;
    position: relative;
    margin-left: 370px;
    bottom: 16px;

}
.mypage-title{
    float: left;
    position: relative;
    margin-top: 28px;
    margin-left: 28px;
    font-weight: bold;
}

.mypage-shortcuts{
    display: flex;
    justify-content: end;
    margin-top: 20px;
    margin-right: 20px;
}

.mypage-shortcuts ul{
    display: flex;
    padding: 0;
    gap: 0;
    margin: 0;
    list-style: none;
    overflow: hidden;
    text-align: center;
}

.mypage-shortcuts li{
    position: relative;
    flex: 1;
    padding: 5px 8px;
    min-width: 60px;
    text-align: center;
    white-space: nowrap;

}
.mypage-shortcuts li:not(:last-child)::after{
    content: "";
    position: absolute;
    top: 25%;
    right: 0;
    height: 50%;
    width: 1px;
    background-color: #ccc;

}

.mypage-shortcuts li:last-child{
    border-right: none;
}

.mypage-shortcuts a{
    display: inline-block;
    padding: 5px 10px;
    text-decoration: none;
    color: #333;
    white-space: nowrap;
}

.mypage-shortcuts .label{
    display: block;
    font-size: 15px;
    font-weight: bold;
    margin-top: 10px;
}

.mypage-shortcuts .value{
    display: block;
    margin-top: 10px;
    font-size: 14px;
}

.container .div_section{
    width: 1200px;
    height: auto;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    margin-left: 358px;
}
.container .div_section .left_section{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    width: 160px;
    position: relative;
    bottom: 16.50px;
    /*right: 235px;*/
    /*bottom: 4px;*/
}

.container .div_section .left_section .sidebar{
    height: 692px;
    width: 150px;
    display: block;
    position: relative;
    border-right: 1px solid #9b9a9c;
}
.sidebar ul li{
    padding: 6px 0;
    margin: 6px 0;
    margin-left: 21px;
    margin-top: 10px;

}

.sidebar ul li a{
    font-size: 16px !important;
    color: #000000;
}
.right_section{
    height: auto;
    width: 1000px;
}

.right_section .banner{
    border: 1px solid green;
    width: 810px;
    height: 86px;
    position: relative;
    margin-top: 20px;
    margin-left: 80px;
}
.right_section .article_title{
    position: relative;
    margin-top: 20px;
    margin-left: 50px;
    margin-bottom: 20px;
}

.article_title h3{
    font-size: 18px;
    font-weight: bold;
}

.right_section .article_title a{
    float: right;
    position: relative;
    bottom: 20px;
    right: 50px;
}

.right_section .table{
    position: relative;
    margin-left: 50px;
    width: 900px;
    height: auto;
    border-collapse: collapse;
    border-bottom: 1.7px solid black;
}
.datetable {
    margin-left: 50px;
    width: 900px;
    height: 60px;
    border-collapse: collapse;
    border-top: 2px solid #636363;
    margin-bottom: 20px;
    background-color: #8a8a8a;
    table-layout: auto;
}
.datetable tr th {
    padding: 10px;
    color: white;
    width: 100px;
}
.datetable tr td {
    color: white;
    width: 50px;
}
.datetable input[type="datetime-local"] {
    width: 100px;
}
.datetable button {
    background-color: #8a8a8a;
    color: white;
    position: relative;
    top: 3px;
}
thead th:nth-child(2){
    width: 413.63px;
}

thead th:nth-child(4){
    width: 158px;
    height: 44px;
}
thead th{
    border-top: 1.7px solid #000000;
    background-color: #a6a6a6;
    width: auto;
    height: 43.26px;
    color: #ffffff;
    font-size: 14px;
    font-weight: 700;
    border-bottom: 0.4px solid #a6a6a6;
}
table tr{
    width: auto;
    height: auto;
}

table .table-tr1{
    border-bottom: 0.4px solid #a6a6a6;
}

.table-tr1 td:nth-child(1){
    font-size: 14px;
    font-weight: 400;
    color: #000000;
    position: relative;
    left: 60px;
}

table tr:nth-child(2){
    border-bottom: 0.4px solid #a6a6a6;
}

.table-td{
    height: 120px;

}
table div{
    width: 118.32px;
    height: 115px;
}

table p a{
    text-decoration: underline;
}

table p {
    font-size: 14px;
    font-weight: 400;
    color: #000000;
    position: relative;
    left: 175px;
    bottom: 70px;
    gap: 10px;
    letter-spacing: 0.5px;

}

table td img{
    width: 118.32px;
    height: 115px;
    border: 1.98px solid #d8d8d8;
    position: relative;
    top: 45px;
    left: 30px;
}

table tr:nth-child(1) .baesong{
    font-size: 14px;
    color: #000000;
    position: relative;
    text-align: center;
    font-weight: bold;
}

table tr:nth-child(1) td:nth-child(4){
    width: 158px;
    height: auto;
}

table button{
    width: 102px;
    height: 31px;
    display: flex;
    position: relative;
    margin-bottom: 4px;
    bottom: 10px;
    padding: 5px 3px;
    left: 30px;
    justify-content: center;
    text-align: center;
    align-items: flex-start;
    border: none;
}

.btn_blue{
    background-color: #558ed5;
    color: #ffffff;
}

table tr:nth-child(2) td:nth-child(1){
    font-size: 14px;
    font-weight: 400;
    color: #000000;
    position: relative;
    left: 60px;
}

table tr:nth-child(2) td:nth-child(3){
    font-size: 14px;
    color: #000000;
    position: relative;
    text-align: center;
    font-weight: bold;
}

.article_title2{
    position: relative;
    margin-top: 20px;
    margin-left: 50px;
}
.article_title2 h3{
    font-size: 18px;
    font-weight: bold;
    border-bottom: 10px wave black;
}


/*------------- 주문 모달 창----------------*/
.modal{
    position: fixed;
    border: 2px solid #f2f2f2;
    width: 910px;
    height: 585px;
    margin-top: 7%;
    margin-left: 25%;
    height: 600px;
    display: none;
    z-index: 1000;
    background-color: #ffffff;
}
.modal-content{
    width: auto;
    height: auto;
}

.modal-content .modal-header{
    background-color: #558ed5;
    color: #ffffff;
    display: flex;
    height: 45px;
}
.modal-header h2{
    font-size: 20px;
    font-weight: 700;
    margin-top: 8px;
    margin-left: 10px;
    margin-right: 20px;
    color: #ffffff;
}
.modal-header p{
    color: #ffffff;
    margin-top: 10px;
}

.modal-header .close{
    position: relative;
    margin-left: 695px;
    font-size: 22px;
    margin-top: 8px;
    color: #ffffff;
    cursor: pointer;
}

.modal-content .modal-tit{
    font-size: 16px;
    font-weight: 700;
    color: #000000;
    margin-left: 20px;
    margin-top: 10px;
}

.table_one{
    position: relative;
    left: 10px;
    border-collapse: collapse;
    width: 890px;
    height: 100px;

}
/*thead*/

.table_one thead tr th:nth-child(1){
    width: 148.76px;
    height: 39.63px;
}

.table_one thead tr th:nth-child(2){
    width: 411.36px;
    height: 39.63px;
}

.table_one thead tr th:nth-child(3){
    width: 196.78px;
    height: 39.63px;
}

.table_one thead tr th:nth-child(4){
    width: 127.67px;
    height: 39.63px;
}
.table_one tr{
    border-bottom: 1px solid #a6a6a6;
}




/*tbody*/
.table_one .modal-tr1 td:nth-child(1){

    padding-left: 30px;
}


.table_one tbody tr:nth-child(1) td:nth-child(2){

}
.table_one tbody tr:nth-child(1) td:nth-child(3){
    padding-left: 30px;

    padding-bottom: 30px;
}
.table_one tbody tr:nth-child(1) td:nth-child(4){

    padding-left: 80px;
}

.table_one tbody td .gyeoljae{
    width: auto;
    height: auto;
    position: relative;
    bottom: 10px;
    left: 1px;
    letter-spacing: 1.5px;
    /*line-height: -1px;*/
}



.table_two{
    position: relative;
    left: 10px;
    border-collapse: collapse;
    width: 890px;
    height: auto;

}

.table_two th:nth-child(1){
    width: 100.64px;
    height: 46.77px;
    background-color: #f2f2f2;
}

.table_two th:nth-child(2){
    width: 142.64px;
    height: 46.77px;
    background-color: #f2f2f2;
}

.table_two th:nth-child(3){
    width: 142.64px;
    height: 46.77px;
    background-color: #f2f2f2;
}

.table_two th:nth-child(4){
    width: 142.64px;
    height: 46.77px;
    background-color: #f2f2f2;
}

.table_two tr {

    border-top: 1px solid #a6a6a6;
    border-bottom: 1px solid #a6a6a6;
}
.table_two tr td{
    padding-left: 20px;
}

/*------------- 판매자정보 모달 창----------------*/

.table_three{
    width: 850px;
    height: 450px;
    position: relative;
    left: 10px;
    top: 10px;
    border-collapse: collapse;
}
.table_three tr{
    border-top: 0.4px solid #a6a6a6;
    border-bottom: 0.4px solid #a6a6a6;
}

.table_three tr th{
    width: 200px;
    height: 47px;
    font-size: 14px;
    font-weight: 400;
    font-weight: bold;
    line-height: 100%;
    color: #000000;
    background-color: #f2f2f2;
}

.table_three tr td{
    padding-left: 20px;
    font-size: 14px;
    font-weight: 400;
    line-height: 100%;
    color: #000000;
}

#companyModalBody div{
    position: relative;
    top: 25px;
    left: 10px;
}
#companyModalBody div p{
    font-size: 16px;
    font-weight: 400;
    line-height: 100%;
    letter-spacing: 2px;
    color: #000000;
}

#companyModalBody button{
    width: 132px;
    height: 40px;
    background-color: #558ed5;
    color: #ffffff;
    font-size: 16px;
    font-weight: 400;
    line-height: 100%;
    position: relative;
    left: 375px;
    top: 25px;
    border: none;
}

/*------------- 문의하기 모달 창----------------*/
.inquiry-close{
    display: flex;
    left: 90px;
}

.inquirymodal{
    position: fixed;
    border: 2px solid #f2f2f2;
    width: 740px;
    height: 585px;
    margin-top: 7%;
    margin-left: 30%;
    display: none;
    z-index: 1000;
    background-color: #ffffff;
}

.inquiry-header{
    background-color: #558ed5;
    color: #ffffff;
    height: 45px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 10px;
}
.inquiry-header h2{
    font-size: 20px;
    font-weight: 700;
    color: #ffffff;
    white-space: nowrap;
    transform: translate(-13px, -3px);
}

.inquiry-close{
    font-size: 22px;
    color: #ffffff;
    transform: translate(-180px, -7px);
    cursor: pointer;
}
.table_four{
    width: 665px;
    height: auto;
    border-collapse: collapse;
    position: relative;
    top: 30px;
    left: 30px;
}

.table_four tr{
    border-bottom: 0.6px solid #a6a6a6;
    border-top: 0.6px solid #a6a6a6;
}

.table_four .table-four-th{
    width: 107.09px;
    height: 46.77px;
    font-size: 14px;
    font-weight: 400;
    color: #000000;
    line-height: 100%;
    background-color: #f2f2f2;
}
.table_four .table-four-th2{
    width: 107.09px;
    height: 232.61px;
    background-color: #f2f2f2;
    font-size: 14px;
    font-weight: 400;
    color: #000000;
    line-height: 100%;
}

.table_four tr:nth-child(1) .radio{
    letter-spacing: 3px;
    display: flex;
    align-items: center;
    margin-top: 13px;
    gap: 10px;
    margin-left: 10px;
    font-size: 14px;
    font-weight: 400;
    line-height: 100%;
    color: #000000;
}

.table_four tr:nth-child(1) input[type="radio"]{
    border: 1.98px solid #808080;
}

.table_four tr:nth-child(2) input[type="text"]{
    width: 290.49px;
    height: 35.77px;
    border: 2.49px solid #d9d9d9;
    position: relative;
    left: 10px;
    outline: none;
}


.table_four tr:nth-child(3) input[type="text"]{
    width: 290.49px;
    height: 35.77px;
    border: 2.49px solid #d9d9d9;
    position: relative;
    left: 10px;
    outline: none;
}

.table_four tr:nth-child(4) input[type="text"]{
    width: 542.95px;
    height: 210.9px;
    border: 2.49px solid #d9d9d9;
    position: relative;
    left: 10px;
    outline: none;
}

.inquiry_btn{
    border: 1px solid red;
    display: flex;
    margin-top: 80px;
    width: 266px;
    height: 41px;
    border: none;
    outline: none;
    cursor: pointer;
    gap: 3px;
    padding: 0;
    margin-left: 230px;
}

.btn_left{
    width: 132px;
    height: 40px;
    background-color: #558ed5;
    color: #ffffff;
    font-size: 16px;
    line-height: 100%;
    font-weight: 400;
    outline: none;
    border: none;
    letter-spacing: 3px;
}

.btn_right{
    width: 132px;
    height: 40px;
    background-color: #bfbfbf;
    color: #ffffff;
    font-size: 16px;
    line-height: 100%;
    font-weight: 400;
    outline: none;
    border: none;
}

/*------------- 구매확정 모달 창----------------*/
.confirmmodal{
position: fixed;
border: 2px solid #f2f2f2;
width: 513.64px;
height: 337.27px;
margin-top: 13%;
margin-left: 35%;
display: none;
z-index: 1000;
background-color: #ffffff;
}

.confirm-header{
    background-color: #558ed5;
    color: #ffffff;
    height: 45px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 10px;
}


.confirm-header h2{
    font-size: 20px;
    font-weight: 700;
    color: #ffffff;
    white-space: nowrap;
    transform: translate(-13px, -3px);
}


.confirm-close{
    font-size: 22px;
    color: #ffffff;
    transform: translate(-315px, -7px);
    cursor: pointer;
}

.confirm-p{
    width: 400px;
    height: 149px;
    display: flex;
    margin-top: 85px;
    margin-left: 50px;
}

.confirm-p p{
    font-size: 20px;
    font-weight: 400;
    line-height: 100%;
    letter-spacing: 3px;
    line-height: 1.6;
    color: #000000;
}

.confirm_btn{
border: 1px solid red;
display: flex;
width: 266px;
height: 41px;
border: none;
outline: none;
cursor: pointer;
gap: 3px;
padding: 0;
margin-left: 110px;
}


.btn_left2{
    width: 132px;
    height: 40px;
    background-color: #558ed5;
    color: #ffffff;
    font-size: 16px;
    line-height: 100%;
    font-weight: 400;
    outline: none;
    border: none;
    letter-spacing: 3px;
}

.btn_right2{
    width: 132px;
    height: 40px;
    background-color: #bfbfbf;
    color: #ffffff;
    font-size: 16px;
    line-height: 100%;
    font-weight: 400;
    outline: none;
    border: none;
}

/*-------------------------상품평모달--------------------------------*/
.star-rating {
    direction: rtl;
    display: inline-flex;

}

.star-rating input {
    display: none;
}

.star-rating label {
    font-size: 28px;
    color: #d9d9d9;
    cursor: pointer;
    transition: color 0.2s;
}

.star-rating label::before {
    content: "★";
}

.star-rating input:checked ~ label,
.star-rating label:hover,
.star-rating label:hover ~ label {
    color: gold;
}
.btnarea {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    margin-bottom: 30px;
}
.btnarea button {
    width: 100px;
    height: 50px;
    background-color: #3f97f6;
    color: white;
    text-align: center;
    margin-top: 15px;
}
.btnarea .delbutton {
    background-color: #8a8a8a;
}
.btnarea .pageBtn {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    top: 9px;
}
.btnarea .pageBtn .number {
    font-size: 17px;
    width: 24px;
    height: 32px;
    text-align: center;
    justify-content: center;
    align-items: center;
    gap: 5px;
    position: relative;
    top: 3px;
}
.btnarea .pageBtn .single {
    width: 15px;
    height: 15px;
}
.btnarea img {
    width: 25px;
    height: 25px;
}