<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>관리자-공지사항 목록</title>
    <!-- Pretendard Font -->
    <link rel="stylesheet" as="style" crossorigin
          href="https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/variable/pretendardvariable.min.css"/>
    <!--Style-->
    <link rel="stylesheet" href="/style/admin/cs/noticeList.css"/>
    <link rel="stylesheet" href="/style/admin/header.css">
    <link rel="stylesheet" href="/style/admin/footer.css">
    <link rel="stylesheet" href="/style/admin/adminaside.css">
    <!--JavaScript-->
    <script src="/script/cs.js"></script>
    <script src="/script/aside.js"></script>
    <style>
        .submitbtn {
            white-space: nowrap;         /* 텍스트를 한 줄로 표시 */
            overflow: hidden;            /* 넘치는 텍스트는 숨김 */
            text-overflow: ellipsis;     /* 넘치는 텍스트가 있을 경우 '...'으로 표시 */
            text-align: left;            /* 텍스트 왼쪽 정렬 */
            width: 200px;
        }
    </style>
</head>
<body>
<div id="container">
    <th:block th:include="/admin/_adminHeader"/>
    <main>
        <th:block th:include="/admin/_adminAside"/>
        <div class="adminMain">
            <div class="mainTop">
                <h4>공지사항</h4>
                <div><span>HOME > 고객센터 > <p>공지사항</p></span></div>
            </div>
            <div class="shopArea">
                <div class="searchArea">
                    <select>
                        <option>유형</option>
                        <option>고객서비스</option>
                        <option>이벤트 당첨</option>
                        <option>안전거래</option>
                        <option>위해상품</option>
                    </select>
                </div>
                <table>
                    <tr>
                        <th><input type="checkbox"></th>
                        <th>번호</th>
                        <th>유형</th>
                        <th>제목</th>
                        <th>조회</th>
                        <th>날짜</th>
                    </tr>
                    <tr th:each="notice, i : ${page.dtoList}">
                        <td><input type="checkbox"></td>
                        <td>[[${notice.noticeNo}]]</td>
                        <td>[[${notice.title}]]</td>
                        <td>
                            <button type="submit"
                                    class="submitbtn"
                                    th:attr =
                                            "data-type=${notice.cate},
                                            data-title=${notice.title},
                                            data-content=${notice.content},
                                            data-notice-no=${notice.noticeNo}">[[${notice.content}]]</button>
                        </td>
                        <td>[[${notice.views}]]</td>
                        <td>[[${notice.regDate}]]</td>
                    </tr>
                </table>
                <div class="btnarea">
                    <button class="delbutton" type="submit">선택삭제</button>
                    <div class="pageBtn">
                        <a href=""><img src="/images/back-double.png"></a>
                        <a href=""><img src="/images/back-single.png" class="single"></a>
                        <a href="" class="number">1</a>
                        <a href="" class="number">2</a>
                        <a href="" class="number">3</a>
                        <a href=""><img src="/images/right-single.png" class="single"></a>
                        <a href=""><img src="/images/right-double.png"></a>
                    </div>
                    <button class="regbutton" type="submit">작성하기</button>
                </div>
            </div>
        </div>
        <div id="bannerModal" class="modal">
            <div class="modal-content">
                <span class="close">&times;</span>
                <h3>공지사항 보기</h3>
                <form>
                    <div class="modalTable">
                        <table class="fst">
                            <tr>
                                <th>유형</th>
                                <td id="modalType">공지 카테고리</td>
                            </tr>
                            <tr>
                                <th>제목</th>
                                <td id="modalTitle">공지 제목</td>
                            </tr>
                            <tr>
                                <th>내용</th>
                                <td id="modalContent">공지 내용</td>
                            </tr>
                        </table>
                    </div>
                    <div class="modalbtn">
                        <button>삭제</button>
                        <button type="button" class="modifybtn">수정</button>
                        <button>목록</button>
                    </div>
                </form>
            </div>
        </div>
        <div id="subModal" class="submodal">
            <div class="submodal-content">
                <span class="close">&times;</span>
                <h3>공지사항 작성</h3>
                <form method="post" enctype="multipart/form-data" id="noticeWriteForm">
                    <input type="hidden" name="writer" th:value="${#authentication.principal.member.id}"/>
                    <div class="modalTable">
                        <table class="fst">
                            <tr>
                                <th>유형</th>
                                <td>
                                    <div>
                                        <select name="cate">
                                            <option>유형선택</option>
                                            <option>고객서비스</option>
                                            <option>이벤트 당첨</option>
                                            <option>안전거래</option>
                                            <option>위해상품</option>
                                        </select>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <th>제목</th>
                                <td>
                                    <div>
                                        <input type="text" name="title" placeholder="제목 입력">
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <th>내용</th>
                                <td>
                                    <div>
                                        <textarea name="content" placeholder="내용 입력" class="writearea" style="width: 650px;"></textarea>
                                    </div>
                                </td>
                            </tr>
                        </table>
                        <div class="modalbtn">
                            <button>취소하기</button>
                            <button>등록하기</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div id="regModal" class="regmodal">
            <div class="regmodal-content">
                <span class="close">&times;</span>
                <h3>공지사항 수정</h3>
                <form>
                    <div class="modalTable">
                        <table class="fst">
                            <tr>
                                <th>유형</th>
                                <td>
                                    <div>
                                        <select>
                                            <option>유형선택</option>
                                            <option>고객서비스</option>
                                            <option>이벤트 당첨</option>
                                            <option>안전거래</option>
                                            <option>위해상품</option>
                                        </select>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <th>제목</th>
                                <td>
                                    <div>
                                        <input type="text" placeholder="제목 입력">
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <th>내용</th>
                                <td>
                                    <div>
                                        <input type="text" placeholder="내용 입력" class="writearea">
                                    </div>
                                </td>
                            </tr>
                        </table>
                        <div class="modalbtn">
                            <button>취소하기</button>
                            <button>수정하기</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </main>
    <th:block th:include="/admin/_adminFooter"/>
</div>
</body>
</html>