<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>관리자-문의하기 목록</title>
    <!-- Pretendard Font -->
    <link rel="stylesheet" as="style" crossorigin
          href="https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/variable/pretendardvariable.min.css"/>
    <!--Style-->
    <link rel="stylesheet" href="/style/admin/cs/qnaList.css"/>
    <link rel="stylesheet" href="/style/admin/header.css">
    <link rel="stylesheet" href="/style/admin/footer.css">
    <link rel="stylesheet" href="/style/admin/adminaside.css">
    <!--JavaScript-->
    <script src="/script/cs.js"></script>
    <script src="/script/faq.js"></script>
    <script src="/script/aside.js"></script>
</head>
<body>
<div id="container">
    <th:block th:include="/admin/_adminHeader"/>
    <main>
        <th:block th:include="/admin/_adminAside"/>
        <div class="adminMain">
            <div class="mainTop">
                <h4>문의하기</h4>
                <div><span>HOME > 고객센터 > <p>문의하기</p></span></div>
            </div>
            <div class="shopArea">
                <div class="searchArea">
                    <select class="typeSelect">
                        <option value="">1차 유형</option>
                        <option value="member">회원</option>
                        <option value="event">쿠폰/혜택/이벤트</option>
                        <option value="order">주문/결제</option>
                        <option value="delivery">배송</option>
                        <option value="cancel">취소/반품/교환</option>
                        <option value="travel">여행/숙박/항공</option>
                        <option value="safe">안전거래</option>
                    </select>
                    <select class="detailSelect">
                        <option value="">2차 유형</option>
                    </select>
                </div>
                <table>
                    <tr>
                        <th><input type="checkbox"></th>
                        <th>번호</th>
                        <th>1차유형</th>
                        <th>2차유형</th>
                        <th>제목</th>
                        <th>작성자</th>
                        <th>작성일</th>
                        <th>상태</th>
                    </tr>
                    <tr>
                        <td><input type="checkbox"></td>
                        <td>10</td>
                        <td>안전거래</td>
                        <td>직거래/외부거래유도</td>
                        <td>
                            <button type="submit" class="submitbtn">외부거래 갔다가 사기당했는데 환불가능?</button>
                        </td>
                        <td>abc123</td>
                        <td>2025-04-17</td>
                        <td>
                            <button type="submit">[ 검토중 ]</button>
                        </td>
                    </tr>
                </table>
                <div class="btnarea">
                    <button class="delbutton" type="submit">선택삭제</button>
                    <div class="pageBtn">
                        <a href=""><img src="/images/back-double.png"></a>
                        <a href=""><img src="/images/back-single.png" class="single"></a>
                        <a href="" class="number">1</a>
                        <a href="" class="number">2</a>
                        <a href="" class="number">3</a>
                        <a href=""><img src="/images/right-single.png" class="single"></a>
                        <a href=""><img src="/images/right-double.png"></a>
                    </div>
                </div>
            </div>
        </div>
        <div id="bannerModal" class="modal">
            <div class="modal-content">
                <span class="close">&times;</span>
                <h3>문의하기 보기</h3>
                <form>
                    <div class="modalTable">
                        <table class="fst">
                            <tr>
                                <th>유형</th>
                                <td>안전거래 - 직거래/외부거래유도</td>
                            </tr>
                            <tr>
                                <th>제목</th>
                                <td>외부거래 갔다가 사기당했는데 환불가능?</td>
                            </tr>
                            <tr>
                                <th>내용</th>
                                <td>ㅋㅋ</td>
                            </tr>
                            <tr>
                                <th>답변</th>
                                <td>ㅋㅋ 자랑이다</td>
                            </tr>
                        </table>
                    </div>
                    <div class="modalbtn">
                        <button>삭제</button>
                        <button type="button" class="modifybtn">답변하기</button>
                        <button>목록</button>
                    </div>
                </form>
            </div>
        </div>
        <div id="regModal" class="regmodal">
            <div class="regmodal-content">
                <span class="close">&times;</span>
                <h3>문의하기 답변</h3>
                <form>
                    <div class="modalTable">
                        <table class="fst">
                            <tr>
                                <th>유형</th>
                                <td>안전거래 - 직거래/외부거래유도</td>
                            </tr>
                            <tr>
                                <th>제목</th>
                                <td>외부거래 갔다가 사기당했는데 환불가능?</td>
                            </tr>
                            <tr>
                                <th>내용</th>
                                <td>ㅋㅋ</td>
                            </tr>
                            <tr>
                                <th>답변</th>
                                <td>
                                    <div>
                                        <input type="text" placeholder="답변내용 입력">
                                    </div>
                                </td>
                            </tr>
                        </table>
                        <div class="modalbtn">
                            <button>삭제</button>
                            <button>답변등록</button>
                            <button>목록</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </main>
    <th:block th:include="/admin/_adminFooter"/>
</div>
</body>
</html>