* {
    margin: 0;
    padding: 0;
    font-family: "Pretendard Variable", Pretendard, sans-serif;
    font-size: 16px;
    color: #333;
}

a {
    text-decoration: none;
}

ul,
li {
    list-style: none;
}
button {
    all: unset;
    cursor: pointer;
}
img {
    width: 25px;
    height: 25px;
}
/* --------------------- main --------------------- */
aside {
    width: 260px;
    border-right: 1px solid rgb(220, 220, 220);
}
aside .item img {
    width: 25px;
    height: 25px;
    margin-right: 10px;
}
aside .item {
    background-color: rgb(220, 220, 220);
    border-bottom: 1px solid rgba(138, 138, 138, 0.6);
    cursor: pointer;
    font-size: 18px;
    font-weight: bold;
    flex-direction: column;
}
.title {
    font-size: 18px;
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 20px 20px;
}
aside .item .dropdown {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease;
    width: 100%;
}
aside .item:hover .dropdown {
    max-height: 500px; /* 충분히 넉넉한 높이 */
}

.dropdown > div {
    background-color: #ececec;
}

.dropdown a {
    box-sizing: border-box;
    display: block;
    padding: 10px 0 10px 15px;
    width: 100%;
    line-height: 40px;
    text-align: left;
    color: black;
    font-size: 15px;
    border-top: 1px solid #858585;
}

.dropdown a:hover {
    background: #dcdcdc;
    transition: 0.3s;
}


.adminMain {
    width: 840px;
    height: auto;
    padding: 15px 60px 30px 0;
}
.mainTop {
    display: flex;
    align-items: center;
    border-bottom: 2px solid #8a8a8a;
    padding: 10px 0;
    margin-bottom: 30px;
}
.mainTop h4 {
    font-size: 25px;
    font-weight: bold;
}
.mainTop div {
    margin-left: auto;
    display: flex;
}
.mainTop span {
    display: flex;
    gap: 5px;
}
.mainTop span p {
    font-weight: bold;
    margin: 0;
}
h3 {
    font-size: 21px;
    font-weight: bold;
    margin-bottom: 10px;
}
table {
    width: 100%;
    height: auto;
    border-top: 2px solid #dddddd;
    border-bottom: 2px solid #dddddd;
    border-collapse: collapse;
}
table tr {
    border-bottom: 2px solid #dddddd;
}
table tr th {
    width: 120px;
    height: 45px;
    background-color: #93b7d0;
    color: white;
}
table tr th a {
    color: white;
}
table tr td {
    padding: 10px;
    text-align: center;
    font-size: 12px;
}

.changeBanner {
    width: 100%;
    height: auto;
    background-color: #dddddd;
    margin-bottom: 30px;
    padding: 10px 10px 0 10px;
    box-sizing: border-box;
}
.bannerTb {
    border: none;
}
.bannerTb tr {
    border: none;
}
.bannerTb tr th:nth-of-type(4) {
    background-color: white;
}
.bannerTb tr th:nth-of-type(4) a {
    color: black;
}
.bannerTb tr th:hover {
    background-color: white;
}
.bannerTb tr th:hover a {
    color: black;
}
.btnarea {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.btnarea button {
    width: 100px;
    height: 50px;
    background-color: #3f97f6;
    color: white;
    text-align: center;
    margin-top: 15px;
}
.btnarea .delbutton {
    background-color: #8a8a8a;
}
.bannerArea {
    padding: 20px;
}
.bannerArea button {
    line-height: 10px;
}


/* 모달 전체 화면 덮기 */
.modal {
    display: none;
    position: fixed;
    z-index: 999;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4); /* 반투명 배경 */
}

/* 모달 창 내부 */
.modal-content {
    background-color: #fff;
    margin: 10% auto;
    padding: 20px;
    border-radius: 10px;
    width: 600px;
    height: 600px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.2);
}

/* 닫기 버튼 */
.modal .close {
    float: right;
    font-size: 24px;
    font-weight: bold;
    cursor: pointer;
}
.modal td {
    text-align: left;
}
.modal .modalbtn {
    display: flex;
    justify-content: center;
}
.modal button {
    width: 100px;
    height: 50px;
    background-color: #3f97f6;
    color: white;
    text-align: center;
    margin-top: 15px;
    border-radius: 5px;
}
.modal table {
    width: 100%;
    height: 500px;
}
.modal table .txt {
    width: 100%;
    height: 100%;
    padding-left: 10px;
    box-sizing: border-box;
}
/* --------------------- main --------------------- */
