.article_title2 a{
    float: right;
    position: relative;
    right: 50px;
}
.article_title3 a{
    float: right;
    position: relative;
    right: 50px;
}
.article_title4 a{
    float: right;
    position: relative;
    right: 50px;
}
.answered {
    color: #2ecc71; /* 예쁜 그린톤 */
}
.table_inquiry tr:nth-last-child(1) td{
    border-bottom: 1px solid #dfdfdf;
    padding: 20px;
    text-align: center;
}

.popup {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 1000px;
    background: white;
    border: 1px solid #ccc;
    box-shadow: 0 5px 15px rgba(0,0,0,0.3);
    z-index: 9999;
}
.popup-content {
    line-height: 3;
}
.popup-content span {
    font-weight: bold;
}
.popup-content button {
    float: right;
    margin: 20px 20px;
    padding: 10px;
    background: #333333;
    color: white;
    border: none;
}

.popup-content p {
    text-align: left;
}
.popup-content h1 {
    margin-top: 20px;
}
.popup-content h2 {
    border-bottom: 1px solid #dfdfdf;
    padding: 10px 0 15px 20px;
    font-size: 20px;
    background-color: cornflowerblue;
    color: white;
    height: 50px;
}
.info table, .info_company table {
    width: 100%;
    border-top: 2px solid #333333;
    border-bottom: 2px solid #333333;
    border-spacing: 0;
}
.info h3, .info_company h3 {
    font-size: 18px;
}
.info, .info_company {
    padding: 20px;
}
.info table tr:nth-child(1) th {
    border-bottom: 1px solid #dfdfdf;
}
.info table:nth-child(2) td {
    width: 200px;
}
.info table:nth-child(4) th, .info_company th {
    border-bottom: 1px solid #dfdfdf;
    border-right: 1px solid #dfdfdf;
}
.info table:nth-child(4) td, .info_company td {
    border-bottom: 1px solid #dfdfdf;
}
.info img {
    width: 220px;
    height: 220px;
}