.article th{
    width: 150px;
}
.article td {
    text-align: left;
    padding: 0 0 0 10px;
}
.article tr:nth-last-child(1) td{
    height: 300px;
    vertical-align: top;
    padding: 10px 0 0 10px;
}
.article tr:nth-last-child(2) td{
    height: 300px;
    padding: 10px 0 0 10px;
    text-align: left;
    vertical-align: top;
}
.article tr:nth-last-child(3) td{
    text-align: left;
    padding: 0 0 0 10px;
}
.article {
    width: 936px;
    margin-left: 50px;
    margin-top: 30px;
    border-top: 1px solid #dfdfdf;
    border-right:  1px solid #dfdfdf;
    border-spacing: 0;
    text-align: center;
}