<footer>
    <div class="footerContainer">
        <div class="footerTopMenu">
            <ul>
                <li><a href="#">회사소개</a></li>
                <li><a href="#">이용약관</a></li>
                <li><a href="#">전자금융거래약관</a></li>
                <li><a href="#" class="bold2">개인정보처리방침</a></li>
                <li><a href="#">청소년보호방침</a></li>
                <li><a href="#">임직원등록</a></li>
                <li><a href="#">준법경영</a></li>
                <li><a href="#">오류신고</a></li>
                <li><a href="#">리서치 패널가입</a></li>
            </ul>
            <div class="selectMenu">
                <select>
                    <option selected disabled>판매자서비스</option>
                </select>
                <select>
                    <option selected disabled>Family Site</option>
                </select>
            </div>
        </div>
        <hr>
        <div class="companyInfo">
            <h2 class="logoArea">
                <img src="/images/lotteOn_footer_logo.png" alt="footerLogo">
            </h2>
            <div class="infoWrapper">
                <div class="company">
                    <h3>롯데쇼핑 주식회사</h3>
                    <ul>
                        <li>대표이사 : 김사무엘상현, 신동빈, 정준호, 강성현</li>
                        <li>주소 : 서울특별시 강남구 테헤란로 507 (삼성동, WeWork빌딩), 7층</li>
                        <li>사업자등록번호 : 529-85-00774(롯데쇼핑(주) e커머스사업부)</li>
                        <li>
                            통신판매업 신고 : 2024-서울강남-04439&nbsp;
                            <a href="https://www.ftc.go.kr/bizCommPop.do?wrkr_no=5298500774" target="_blank">사업자 정보
                                확인</a>
                        </li>
                        <li>호스팅 서비스사업자 : 롯데쇼핑(주) e커머스사업부</li>
                    </ul>
                    <h4>롯데쇼핑 e커머스 사업부 에스크로</h4>
                    <p>
                        고객님의 안전거래를 위해 현금 등으로 결제 시 결제금액 전액에 대해
                        <br>
                        소비자 피해 방지 서비스를 이용합니다.
                    </p>
                </div>
                <div class="customer">
                    <h3>고객센터</h3>
                    <div class="stringLine withList" style="margin-bottom: 5px;">
                        <p>전화번호 : 1899-7000(유료)</p>
                        <p>
                            E-mail :
                            <a href="#" class="emailNoline">lotteon@lotte.net</a>
                        </p>
                        <p>
                            <a href="#" target="_blank">분쟁해결기준</a>
                        </p>
                    </div>
                    <div class="stringLine withList">
                        <ul>
                            <li>
                                <a href="#" target="_blank">FAQ 보기</a>
                            </li>
                            <li>
                                <a href="#" target="_blank">1:1 문의하기</a>
                            </li>
                            <li>
                                <a href="#" target="_blank">고객센터</a>
                            </li>
                            <li>
                                <a href="#" target="_blank">공지사항</a>
                            </li>
                        </ul>
                    </div>
                    <h3 style="padding-top: 16px;">전자금융거래 분쟁 담당</h3>
                    <div class="stringLine withList">
                        <p>Tel : 1899-7000(유료)</p>
                        <p>
                            E-mail :
                            <a href="#" class="emailNoline">lotteon@lotte.net</a>
                        </p>
                        <p>
                            <a href="#" target="_blank">안전거래센터</a>
                        </p>
                    </div>
                    <div class="v-popover">
                        <h3>콘텐츠산업진흥법에 의한 콘텐츠보호안내</h3>
                        <a href="#">자세히보기</a>
                    </div>
                </div>
            </div>
        </div>
        <ul class="outlink">
            <li>
                <a href="#">
                    <img src="/images/ico_footer2.png">
                </a>
            </li>
            <li>
                <a href="#">
                    <img src="/images/ico_footer1.png">
                </a>
            </li>
            <li>
                <a href="#">
                    <img src="/images/ico_footer3.png">
                </a>
            </li>
            <li>
                <a href="#">
                    <img src="/images/ico_footer4.png">
                </a>
            </li>
            <li>
                <a href="#">
                    <img src="/images/ico_footer5.png">
                </a>
            </li>
            <li>
                <a href="#">
                    <img src="/images/ico_footer6.png">
                </a>
            </li>
        </ul>
    </div>
    <hr>
    <div class="footerInfo">
        <p>롯데쇼핑(주)는 통신판매중개자이며 통신판매의 거래당사자가 아닙니다. 입점판매자가 등록한 상품정보 및 거래에 대해 롯데쇼핑(주)는 일체 책임을 지지 않습니다.</p>
        <p>Copyright © LOTTESHOPPING Co., LTD. All rights reserved.</p>
    </div>
</footer>