<header>
    <div class="headerContainer">
        <div class="headerUtil">
            <a th:href="@{/member/join}" class="themeColor">회원가입</a>
            <div class="v-l"></div>
            <a th:href="@{/member/login}">로그인</a>
            <div class="v-l"></div>
            <a th:href="@{/cust/cust_main}">고객센터</a>
        </div>
        <div class="headerContent">
            <div class="headerContent-left">
                <a th:href="@{/}">
                    <img src="/images/logo_lotte-on.png" alt="lotteOn Logo" class="logo">
                </a>
                <div class="search">
                    <input type="text" placeholder="검색어를 입력해주세요" class="inputSearch">
                    <button class="deleteSearchKeyword"></button>
                    <a href="#" class="searchIcon icon"></a>
                </div>
                <p><span class="themeColor rank">1</span>검색어 순위를 혀? 말어?</p>
            </div>
            <div class="contentLink">
                <a href="#" class="heart icon"></a>
                <a th:href="@{/myPage/my_home}" class="my icon"></a>
                <a th:href="@{/product/cart}" class="cart icon"></a>
            </div>
        </div>
        <div class="headerNavContainer">
            <div class="headerNav">
                <div class="category">
                    <p class="burgerMenu icon2"></p>
                    <p>카테고리</p>
                    <div class="categories">
                        <ul>
                            <li><a th:href="@{/product/list}">뷰티</a></li>
                            <li><a th:href="@{/product/list}">여성패션</a></li>
                            <li><a th:href="@{/product/list}">남성패션</a></li>
                            <li><a th:href="@{/product/list}">럭셔리</a></li>
                            <li><a th:href="@{/product/list}">유아동</a></li>
                            <li><a th:href="@{/product/list}">스포츠/레저</a></li>
                            <li><a th:href="@{/product/list}">식품</a></li>
                            <li><a th:href="@{/product/list}">생활건강</a></li>
                            <li><a th:href="@{/product/list}">컴퓨터/게임/모바일</a></li>
                            <li><a th:href="@{/product/list}">가전</a></li>
                            <li><a th:href="@{/product/list}">가구/인테리어</a></li>
                            <li><a th:href="@{/product/list}">자동차/공구</a></li>
                            <li><a th:href="@{/product/list}">반려동물</a></li>
                            <li><a th:href="@{/product/list}">취미/문구/도서</a></li>
                        </ul>
                    </div>
                </div>
                <div class="various">
                    <a th:href="@{/product/list}">신상품</a>
                    <a th:href="@{/product/list}">베스트</a>
                    <a th:href="@{/product/list}">패션</a>
                    <a th:href="@{/product/list}">뷰티</a>
                    <a th:href="@{/product/list}">라이프</a>
                    <a th:href="@{/product/list}">특가/혜택</a>
                </div>
                <a href="#" class="deliv">
                    <p>주문배송</p>
                    <img src="/images/lotteOnMascot.jpg" alt="배송정보" class="mascot">
                </a>
            </div>
        </div>
    </div>
</header>