<div class="mypage-shortcuts">
    <ul>
        <li>
            <a href="#">
                <span class="label">주문</span>
                <span class="value">2</span>
            </a>
        </li>
        <li>
            <a href="#">
                <span class="label">쿠폰</span>
                <span class="value" th:text="${totalCoupon}"></span>
            </a>
        </li>
        <li>
            <a href="#">
                <span class="label">포인트</span>
                <span class="value" th:text="${totalPointCount}"></span>
            </a>
        </li>
        <li>
            <a href="#">
                <span class="label">문의</span>
                <span class="value" th:text="${totalQnaCount}"></span>
            </a>
        </li>
    </ul>
</div>
