<section class="left_section">
    <aside class="sidebar">
        <ul>
            <li><a th:href="@{/myPage/my_order}">전체주문내역</a></li>
            <li><a th:href="@{/myPage/my_point}">포인트내역</a></li>
            <li><a th:href="@{/myPage/my_coupon}">쿠폰</a></li>
            <li><a th:href="@{/myPage/my_review}">나의리뷰</a></li>
            <li><a th:href="@{/myPage/my_qna}">문의하기</a></li>
            <li><a th:href="@{/myPage/my_qna_product}">상품문의</a></li>
            <li><a th:href="@{/myPage/my_info}">나의설정</a></li>
        </ul>
    </aside>
</section>