<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" as="style" crossorigin
          href="https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/variable/pretendardvariable.min.css"/>
    <link rel="stylesheet" href="/style/common/_footer.css">
    <link rel="stylesheet" href="/style/common/_header.css">
    <link rel="stylesheet" href="/style/mypage/my_coupon.css">
    <title>나의쇼핑정보 쿠폰내역</title>
    <style>

    </style>
</head>

<body>
<div id="container">
    <th:block th:include="/common/_header.html"/>
    <main class="main_container">

        <div class="mypage-header">
            <div class="mypage-title">
                <h2>나의쇼핑정보</h2>
            </div>
            <th:block th:insert="~{/myPage/_header.html}"/>
        </div>

        <div class="div_section">
            <th:block th:insert="~{/myPage/_side.html}"/>
            <section class="right_section">
                <div class="ad">
                    <div>광고</div>
                </div>
                <h1>쿠폰내역</h1>
                <section>

                </section>
                <table class="article">
                    <tr>
                        <th>쿠폰명</th>
                        <th>할인금액</th>
                        <th>상태</th>
                        <th>유효기간</th>
                    </tr>
                    <tr th:each="coupon, i : ${coupons}">
                        <td>
                            <a th:href="@{/myPage/my_view_coupon(issuedNo=${coupon.issuedNo})}">[[${coupon.couponName}]]</a>
                        </td>
                        <td th:text="${coupon.benefit}"></td>
                        <td>
                            <span th:if="${coupon.status} == '미사용'">사용 가능</span>
                            <span th:if="${coupon.status} != '미사용'">[[${coupon.status}]]</span>
                        </td>
                        <td>
                            <span>[[${coupon.startDate}]]</span> ~
                            <span>[[${coupon.endDate}]]</span>
                        </td>
                    </tr>

                </table>
                <div class="pageBtn">
                    <th:block th:if="${page?.end > 0}">
                        <th:block th:if="${page.prev}">
                            <a th:href="@{/myPage/my_coupon(pg=${page.start-2})}" class="prev">
                                <img src="/images/back-double.png">
                            </a>
                        </th:block>
                        <th:block th:if="${page.prev}">
                            <a th:href="@{/myPage/my_coupon(pg=${page.start-1})}" class="prev">
                                <img src="/images/back-single.png" class="single">
                            </a>
                        </th:block>

                        <th:block th:each="num:${#numbers.sequence(page.start, page.end)}">
                            <a th:href="@{/myPage/my_coupon(pg=${num})}" th:class="${num == page.pg} ? 'current' : 'num'">[[${num}]]</a>
                        </th:block>

                        <th:block th:if="${page.next}">
                            <a th:href="@{/myPage/my_coupon(pg=${page.end+1})}" class="next">
                                <img src="/images/right-single.png" class="single">
                            </a>
                        </th:block>
                        <th:block th:if="${page.next}">
                            <a th:href="@{/myPage/my_coupon(pg=${page.end+2})}" class="next">
                                <img src="/images/right-double.png">
                            </a>
                        </th:block>
                    </th:block>
                </div>
            </section>
        </div>
    </main>
    <th:block th:replace="/common/_footer.html :: footerFragment(versionId=${selectedVersionId})"/>
</div>
</body>
</html>