<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" as="style" crossorigin
          href="https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/variable/pretendardvariable.min.css"/>
    <link rel="stylesheet" href="/style/mypage/my_info.css">
    <link rel="stylesheet" href="/style/common/_header.css">
    <link rel="stylesheet" href="/style/common/_footer.css">
    <title>마이페이지 메인</title>
    <style>

    </style>
</head>
<body>
<div id="container">
    <th:block th:insert="~{/common/_header.html}"/>
    <main class="main_container">

        <div class="mypage-header">
            <div class="mypage-title">
                <h2>나의쇼핑정보</h2>
            </div>
            <th:block th:insert="~{/myPage/_header.html}"/>
        </div>

        <div class="div_section">
            <th:block th:insert="~{/myPage/_side.html}"/>

            <section class="right_section">
                <div class="ad">
                    <div>광고</div>
                </div>
                <form th:action="@{/myPage/my_info}" method="post">
                    <table class="info">
                        <tr>
                            <th>사용자 ID</th>
                            <td>
                                <input readonly type="text" name="id" th:value="${member.id}"/>
                            </td>
                        </tr>
                        <tr>
                            <th>비밀번호</th>
                            <td>
                                <button type="button" class="modify_pw">비밀번호 수정</button>
                                <input type="password" name="password" class="pw_input" style="display:none;" placeholder="새 비밀번호 입력" />
                            </td>
                        </tr>
                        <tr>
                            <th>이름</th>
                            <td>
                                <input type="text" name="name"  th:value="${member.name}"/>
                            </td>
                        </tr>
                        <tr>
                            <th>구매 등급</th>
                            <td>
                                <span th:class="'rating-' + ${member.rating}">
                                    <span th:text="${member.rating}">회원 등급</span>
                                </span>
                            </td>
                        </tr>
                        <tr>
                            <th>생년월일</th>
                            <td>
                                <input readonly type="text" name="birthDate" th:value="${member.birthDate}">
                            </td>
                        </tr>
                        <tr>
                            <th>성별</th>
                            <td>
                                <input type="text" name="gender" readonly th:value="${member.gender}">
                            </td>
                        </tr>
                        <tr>
                            <th>Email</th>
                            <td>
                                <div>
                                    <input type="text" name="email" th:value="${member.email}">
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <th>휴대폰</th>
                            <td>
                                <input type="text" name="hp" th:value="${member.hp}">
                            </td>
                        </tr>
                        <tr>
                            <th>주소</th>
                            <td>
                                <div class="info_addr">
                                    <input type="text"  id="zip" name="zip" th:value="${member.zip}">
                                    <button type="button" class="post info_btn3">주소검색</button>
                                    <input type="text"  id="addr1" name="addr1" th:value="${member.addr1}">
                                    <input type="text"  id="addr2" name="addr2" th:value="${member.addr2}">
                                </div>
                            </td>
                        </tr>
                    </table>
                    <script>
                        document.querySelector(".modify_pw").addEventListener("click", function () {
                            document.querySelector(".pw_input").style.display = "inline-block";
                            this.style.display = "none"; // 버튼 숨김
                        });
                    </script>
                    <button type="submit" class="end_btn">수정하기</button>
                </form>
                <div>
                    <form th:action="@{/myPage/my_info/leave}" method="post" id="leaveForm">
                        <button type="button" class="leave">탈퇴하기</button>
                    </form>
                </div>
                <script>
                    document.querySelector('.leave').addEventListener('click', function () {
                        if (confirm('정말 탈퇴하시겠습니까?')) {
                            document.getElementById('leaveForm').submit();
                        }
                    });
                </script>
            </section>
        </div>
    </main>
    <th:block th:replace="/common/_footer.html :: footerFragment(versionId=${selectedVersionId})"/>
</div>
</body>
</html>