<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" as="style" crossorigin
        href="https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/variable/pretendardvariable.min.css"/>
  <link rel="stylesheet" href="/style/mypage/my_point.css">
  <link rel="stylesheet" href="/style/common/_footer.css">
  <link rel="stylesheet" href="/style/common/_header.css">
  <title>마이페이지 포인트내역</title>
  <style>

  </style>
</head>
<body>
<div id="container">
  <th:block th:include="/common/_header.html"/>
  <main class="main_container">
    <div class="mypage-header">
      <div class="mypage-title">
        <h2>나의쇼핑정보</h2>
      </div>
      <th:block th:insert="~{/myPage/_header.html}"/>
    </div>

    <div class="div_section">
      <th:block th:insert="~{/myPage/_side.html}"/>

      <section class="right_section">
        <div class="banner"></div>
        <article>
          <div class="article_title">
            <h3>전체 주문내역</h3>
          </div>
          <div class="searchTab">
            <p> 기간 지정 </p>
            <input type="date"> ~ <input type="date" >
            <button type="submit">조회</button>
          </div>
           <table class="point-table">
             <thead>
               <tr>
                 <th>날짜</th>
                 <th>구분</th>
                 <th>적립금액</th>
                 <th>비고</th>
               </tr>
             </thead>
             <tbody>
               <tr th:if="${#lists.isEmpty(point)}">
                 <td colspan="6" style="text-align: center;">포인트 내역이 없습니다</td>
               </tr>

               <tr th:each = "point, i : ${point}" th:unless="${#lists.isEmpty(point)}">
                 <td th:text="${point.giveDate}">2022-12-13</td>
                 <td th:text="${point.givePoint > 0} ? '적립' : '사용'"></td>
                 <td th:text="${point.givePoint}">340</td>
                 <td th:text="${point.giveContent}">상품 구매확정</td>
               </tr>
             </tbody>
           </table>

          <div class="btnarea">
            <div class="pageBtn">
              <th:block th:if="${page?.end > 0}">
                <th:block th:if="${page.prev}">
                  <a th:href="@{/myPage/my_point(pg=${page.start-2})}" class="prev">
                    <img src="/images/back-double.png">
                  </a>
                </th:block>
                <th:block th:if="${page.prev}">
                  <a th:href="@{/myPage/my_point(pg=${page.start-1})}" class="prev">
                    <img src="/images/back-single.png" class="single">
                  </a>
                </th:block>

                <th:block th:each="num:${#numbers.sequence(page.start, page.end)}">
                  <a th:href="@{/myPage/my_point(pg=${num})}" th:class="${num == page.pg} ? 'current' : 'num'">[[${num}]]</a>
                </th:block>

                <th:block th:if="${page.next}">
                  <a th:href="@{/myPage/my_point(pg=${page.end+1})}" class="next">
                    <img src="/images/right-single.png" class="single">
                  </a>
                </th:block>
                <th:block th:if="${page.next}">
                  <a th:href="@{/myPage/my_point(pg=${page.end+2})}" class="next">
                    <img src="/images/right-double.png">
                  </a>
                </th:block>
              </th:block>
            </div>
          </div>
        </article>
      </section>
    </div>
  </main>
  <th:block th:replace="/common/_footer.html :: footerFragment(versionId=${selectedVersionId})"/>
</div>
</body>
</html>
