<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" as="style" crossorigin
        href="https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/variable/pretendardvariable.min.css"/>

  <!-- Swiper -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"/>
  <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
  <script src="/script/swiper3.js"></script>

  <!-- Script -->
  <script src="/script/search.js"></script>
  <script src="/script/myPointComma.js"></script>
  <script src="/script/myPointScript.js"></script>

  <link rel="stylesheet" href="/style/common/_footer.css">
  <link rel="stylesheet" href="/style/common/_header.css">
  <link rel="stylesheet" href="/style/mypage/myPages.css">

  <!-- Favicon -->
  <link rel="icon" sizes="32x32" th:href="@{'/images/config/' + ${config.favicon}}">

  <title>포인트내역 : 롯데ON</title>
</head>
<body>
<div id="container">
  <th:block th:include="/common/_header.html"/>
  <main>
    <div class="mainWrapper">
      <div class="mainContainer">
        <aside>
          <h2>마이롯데</h2>
          <th:block th:insert="~{/myPage/_side.html}"/>
        </aside>
        <section>
          <div class="simpleInfoWrapper">
            <div class="simpleInfo">
              <div>
                <p>쇼핑하기 좋은 날이에요!</p>
                <a th:href="@{/myPage/my_info}" class="nameBox">
                  <p class="bold" th:text="${loginUser.name}"></p>
                  <p>님</p>
                </a>
                <div class="ratingBox">
                  <img src="/images/icon_mylotte.png" alt="등급">
                  <p class="bold">롯데ON</p>
                  <p class="bold" th:text="${loginUser.rating}"></p>
                  <p>등급이네요!</p>
                </div>
              </div>
              <div>
                <div class="myPoint">
                  <a th:href="@{/myPage/my_order}">
                    <p>주문 수</p>
                    <div>
                      <p class="bold" th:text="${totalOrder}"></p>
                      <p>건</p>
                    </div>
                  </a>
                </div>
                <div class="myPoint">
                  <a th:href="@{/myPage/my_point}">
                    <p>POINT</p>
                    <div>
                      <p class="bold thisIsMyPoint" th:text="${totalPointCount}"></p>
                      <p>P</p>
                    </div>
                  </a>
                </div>
                <div class="myCoupon">
                  <a th:href="@{/myPage/my_coupon}">
                    <p>나의 쿠폰</p>
                    <div>
                      <p class="bold" th:text="${totalCoupon}"></p>
                      <p>개</p>
                    </div>
                  </a>
                </div>
                <div class="myReview">
                  <a th:href="@{/myPage/my_qna}">
                    <p>문의 수</p>
                    <div>
                      <p class="bold" th:text="${totalQnaCount}"></p>
                      <p>개</p>
                    </div>
                  </a>
                </div>
              </div>
            </div>
            <div class="simpleInfoFooter">
              <div class="swiper">
                <div class="swiper-wrapper">
                  <div class="swiper-slide">롯데ON에 오신 것을 환영합니다!</div>
                  <div class="swiper-slide">오늘도 행복한 하루 보내세요!</div>
                  <div class="swiper-slide">롯데6차 수강생들 프로젝트 화이팅! 💪</div>
                </div>
              </div>
            </div>
          </div>
          <div class="pointHistory var">
            <div class="varTitle">
              <h3>포인트 적립 내역</h3>
              <form th:action="@{/myPage/my_point}" method="get">
                <div class="searchArea">
                  <div class="period">
                    <select name="period" id="period">
                      <option selected>전체</option>
                      <option value="1week" th:selected="${#strings.equals(param.period, '1week')}">1주일</option>
                      <option value="1month" th:selected="${#strings.equals(param.period, '1month')}">1개월</option>
                      <option value="3month" th:selected="${#strings.equals(param.period, '3month')}">3개월</option>
                      <option value="custom" th:selected="${#strings.equals(param.period, 'custom')}">직접선택</option>
                    </select>

                    <div class="selectDate">
                      <input class="date" type="date" name="startDate" th:value="${param.startDate}" />
                      ~
                      <input class="date" type="date" name="endDate" th:value="${param.endDate}" />
                    </div>
                  </div>
                  <div>
                    <button class="searchButton" type="submit">조회하기</button>
                  </div>
                </div>
              </form>
            </div>
            <div class="orderHeader" th:if="${#lists.isEmpty(point)}">
              <div>
                <p>적립한 포인트가 없습니다.</p>
              </div>
            </div>
            <div class="pointList">
              <table>
                <tr>
                  <th>적립일</th>
                  <th>구분</th>
                  <th>적립 포인트</th>
                  <th>적립 코드</th>
                  <th>적립 내용</th>
                </tr>
                <tr th:each = "point, i : ${point}" th:unless="${#lists.isEmpty(point)}">
                  <td th:text="${point.giveDate}"></td>
                  <td th:text="${point.givePoint > 0} ? '적립' : '사용'"></td>
                  <td th:text="${point.givePoint}" class="thisIsMyPoint savePoints"></td>
                  <td>
                    <a href="#" th:onclick="'showPopup(' + ${i.index} + '); return false;'">
                      [[${point.orderCode}]]
                    </a>
                  </td>
                  <td th:text="${point.giveContent}"></td>
                </tr>
              </table>
              <div class="pageBtn">
                <th:block th:if="${page?.end > 0}">
                  <th:block th:if="${page.prev}">
                    <a th:href="@{/myPage/my_point(pg=${page.start-2}, period=${param.period}, startDate=${param.startDate}, endDate=${param.endDate})}" class="prev">
                      <img src="/images/back-double.png">
                    </a>
                  </th:block>
                  <th:block th:if="${page.prev}">
                    <a th:href="@{/myPage/my_point(pg=${page.start-1}, period=${param.period}, startDate=${param.startDate}, endDate=${param.endDate})}" class="prev">
                      <img src="/images/back-single.png" class="single">
                    </a>
                  </th:block>

                  <th:block th:each="num:${#numbers.sequence(page.start, page.end)}">
                    <a th:href="@{/myPage/my_point(pg=${num}, period=${param.period}, startDate=${param.startDate}, endDate=${param.endDate})}" th:class="${num == page.pg} ? 'current' : 'num'">[[${num}]]</a>
                  </th:block>

                  <th:block th:if="${page.next}">
                    <a th:href="@{/myPage/my_point(pg=${page.end+1}, period=${param.period}, startDate=${param.startDate}, endDate=${param.endDate})}" class="next">
                      <img src="/images/right-single.png" class="single">
                    </a>
                  </th:block>
                  <th:block th:if="${page.next}">
                    <a th:href="@{/myPage/my_point(pg=${page.end+2}, period=${param.period}, startDate=${param.startDate}, endDate=${param.endDate})}" class="next">
                      <img src="/images/right-double.png">
                    </a>
                  </th:block>
                </th:block>
              </div>
            </div>
          </div>
        </section>
      </div>
    </div>
  </main>
  <th:block th:replace="/common/_footer.html :: footerFragment(versionId=${selectedVersionId})"/>
</div>
</body>
</html>
