<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" as="style" crossorigin
    href="https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/variable/pretendardvariable.min.css"/>
    <link rel="stylesheet" href="/style/common/_footer.css">
    <link rel="stylesheet" href="/style/common/_header.css">
    <link rel="stylesheet" href="/style/mypage/my_review.css">
    <title>나의쇼핑정보 나의리뷰</title>
</head>

<body>
<div id="container">
    <th:block th:include="/common/_header.html"/>
    <main class="main_container">
        <div class="mypage-header">
          <div class="mypage-title">
            <h2>나의쇼핑정보</h2>
          </div>
          <div class="mypage-shortcuts">
            <ul>
              <li>
                <a href="#">
                  <span class="label">주문</span>
                  <span class="value">2</span>
                </a>
              </li>
              <li>
                <a href="#">
                  <span class="label">쿠폰</span>
                  <span class="value">1</span>
                </a>
              </li>
              <li>
                <a href="#">
                  <span class="label">포인트</span>
                  <span class="value">1,000</span>
                </a>
              </li>
              <li>
                <a href="#">
                  <span class="label">문의</span>
                  <span class="value">1</span>
                </a>
              </li>
            </ul>
          </div>
        </div>
    
        <div class="div_section">
            <section class="left_section">
                <aside class="sidebar">
                <ul>
                    <li><a href="#">전체주문내역</a></li>
                    <li><a href="#">포인트내역</a></li>
                    <li><a href="#">쿠폰</a></li>
                    <li><a href="#">나의리뷰</a></li>
                    <li><a href="#">문의하기</a></li>
                    <li><a href="#">나의설정</a></li>
                </ul>
                </aside>
            </section>
    
            <section class="right_section">
                <div class="ad">
                    <div>광고</div>
                </div>
                <h1>나의리뷰</h1>
                <section>

                </section>
                <table class="article">
                    <tr>
                        <th>번호</th>
                        <th>상품명</th>
                        <th>내용</th>
                        <th>평점</th>
                        <th>작성일</th>
                    </tr>
                    <tr>
                        <td>1</td>
                        <td>상품번호/상품명</td>
                        <td>배송이 빠릅니다.</td>
                        <td>★★★★☆</td>
                        <td>~12/31</td>
                    </tr>
                </table>
                <div class="page">
                    <a class="prev">◁</a>
                    <a class="num">1</a>
                    <a class="num">2</a>
                    <a class="next">▷</a>
                </div>
            </section>
        </div>
    </main>
    <th:block th:include="/common/_footer.html"/>
</div>
</body>
</html>