<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" as="style" crossorigin
    href="https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/variable/pretendardvariable.min.css"/>
    <link rel="stylesheet" href="/style/common/_footer.css">
    <link rel="stylesheet" href="/style/common/_header.css">
    <link rel="stylesheet" href="/style/mypage/my_qna.css">
    <link rel="stylesheet" href="/style/mypage/my_qna_view.css">
    <title>나의쇼핑정보 문의하기</title>
</head>

<body>
<div id="container">
    <th:block th:include="/common/_header.html"/>
    <main class="main_container">
        <div class="mypage-header">
            <div class="mypage-title">
                <h2>나의쇼핑정보</h2>
            </div>
            <th:block th:insert="~{/myPage/_header.html}"/>
        </div>

        <div class="div_section">
            <th:block th:insert="~{/myPage/_side.html}"/>
            <section class="right_section">
                <div class="ad">
                    <div>광고</div>
                </div>
                <h1>문의하기</h1>
                <table class="article">
                    <tr>
                        <th>문의채널</th>
                        <td>[[${qna.channel}]]</td>
                        <th>상태</th>
                        <td>[[${qna.status}]]</td>
                    </tr>
                    <tr>
                        <th>문의유형</th>
                        <td>[[${qna.cate2}]]</td>
                        <th>작성일</th>
                        <td colspan="3">[[${qna.regDate}]]</td>
                    </tr>
                    <tr>
                        <th>제목</th>
                        <td colspan="3">[[${qna.title}]]</td>
                    </tr>
                    <tr>
                        <th>문의 내용</th>
                        <td colspan="3">[[${qna.content}]]</td>
                    </tr>
                    <tr>
                        <th>답변</th>
                        <td colspan="3">
                            <span th:if="${qna.comment != null}" th:text="${qna.comment}"></span>
                            <span th:unless="${qna.comment != null}" style="font-weight: 600; font-size: 20px;">답변 대기중입니다</span>
                        </td>
                    </tr>
                </table>
                <div>
                    <a th:href="@{/myPage/my_qna}" type="button" class="list">목록</a>
                </div>
            </section>
        </div>
    </main>
    <th:block th:replace="/common/_footer.html :: footerFragment(versionId=${selectedVersionId})"/>
</div>
</body>
</html>