<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <!-- Pretendard Font -->
    <link rel="stylesheet" as="style" crossorigin href="https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/variable/pretendardvariable.min.css" />

    <!-- Favicon -->
    <link rel="icon" sizes="32x32" href="https://static.lotteon.com/p/common/assets/favicon/1/favicon-32.png">
    
    <!-- Script -->
    <script src="/script/search.js"></script>
    <script src="/script/count.js"></script>

    <!-- Style -->
    <link rel="stylesheet" href="/style/product/cart.css"/>
    <title>롯데ON</title>
</head>
<body>
    <div id="container">
        <th:block th:include="/common/_header.html"/>
        <main>
            <div class="mainContainer">
                <div class="cartWrapper">
                    <h2>장바구니</h2>
                    <div class="cartContainer">
                        <div class="shoppingCart">
                            <div class="selectBox">
                                <div>
                                    <input type="checkbox" class="checkAll">
                                    <p>전체선택 1/1</p>
                                </div>
                                <button class="chooseRemove">선택삭제</button>
                            </div>
                            <div class="cartBox">
                                <div class="cartItem">
                                    <div class="itemHead">
                                        <div class="align">
                                            <input type="checkbox" class="checkAll">
                                            <p>통밀먹인 오겹살 1kg+1kg 구이용</p>
                                        </div>
                                        <button class="remove"></button>
                                    </div>
                                    <div class="itemMain">
                                        <a href="#">
                                            <img src="/images/100x100.jpg" alt="상품사진">
                                        </a>
                                        <div class="itemSub">
                                            <p class="itemPrice">23,800원</p>
                                            <div class="control">
                                                <button class="minus"></button>
                                                <div class="count">1</div>
                                                <button class="plus"></button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="cartItem">
                                    <div class="itemHead">
                                        <div class="align">
                                            <input type="checkbox" class="checkAll">
                                            <p>통밀먹인 오겹살 1kg+1kg 구이용</p>
                                        </div>
                                        <button class="remove"></button>
                                    </div>
                                    <div class="itemMain">
                                        <a href="#">
                                            <img src="/images/100x100.jpg" alt="상품사진">
                                        </a>
                                        <div class="itemSub">
                                            <p class="itemPrice">23,800원</p>
                                            <div class="control">
                                                <button class="minus"></button>
                                                <div class="count">1</div>
                                                <button class="plus"></button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="cartItem">
                                    <div class="itemHead">
                                        <div class="align">
                                            <input type="checkbox" class="checkAll">
                                            <p>통밀먹인 오겹살 1kg+1kg 구이용</p>
                                        </div>
                                        <button class="remove"></button>
                                    </div>
                                    <div class="itemMain">
                                        <a href="#">
                                            <img src="/images/100x100.jpg" alt="상품사진">
                                        </a>
                                        <div class="itemSub">
                                            <p class="itemPrice">23,800원</p>
                                            <div class="control">
                                                <button class="minus"></button>
                                                <div class="count">1</div>
                                                <button class="plus"></button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="option">
                            <div class="deliveryBox">
                                <div class="deliveryHead">
                                    <img src="/images/location.svg" alt="배송지 아이콘">
                                    <h2>배송지</h2>
                                </div>
                                <div class="deliveryMain">
                                    <p>부산시 부산진구 중앙대로 749번 범향빌딩 4층</p>
                                    <button>변경</button>
                                </div>
                            </div>
                            <div class="priceInfoBox">
                                <h2>결제금액</h2>
                                <div class="priceInfos">
                                    <p>상품금액</p>
                                    <p class="f-w-600">23,800원</p>
                                </div>
                                <div class="priceInfos">
                                    <p>상품할인금액</p>
                                    <p class="themeColor f-w-600">-2,380원</p>
                                </div>
                                <div class="priceInfos">
                                    <p>배송비</p>
                                    <p class="f-w-600">3,000원</p>
                                </div>
                                <div class="totalPrice">
                                    <p>결제예정금액</p>
                                    <p>24,420원</p>
                                </div>
                            </div>
                            <div class="order">
                                <button class="orderBtn" onclick="location.href='/product/payment'">
                                    <span>24,420원 주문하기</span>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>
        <th:block th:include="/common/_footer.html"/>
    </div>
</body>
</html>