<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <!-- Pretendard Font -->
    <link rel="stylesheet" as="style" crossorigin
          href="https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/variable/pretendardvariable.min.css"/>


    <!-- Favicon -->
    <link rel="icon" sizes="32x32" href="https://static.lotteon.com/p/common/assets/favicon/1/favicon-32.png">

    <!-- Script -->
    <!--<script src="/script/search.js"></script>-->
    <!--<script src="/script/chooseOption.js"></script>-->
    <!--<script src="/script/count.js"></script>-->
    <script src="/script/topFixed.js"></script>
    <script src="/script/detail.js"></script>
    <!-- Style -->
    <link rel="stylesheet" href="/style/product/detail.css"/>
    <link rel="stylesheet" href="/style/common/_header.css"/>
    <link rel="stylesheet" href="/style/common/_footer.css"/>
    <title>롯데ON</title>
</head>
<body>
<div id="container">
    <th:block th:include="/common/_header.html"/>
    <main>
        <div class="mainContainer">
            <div class="detailContainer">
                <div class="productImage">
                    <img th:src="@{'/images/' + ${product.imageList}}" alt="상품">
                </div>
                <div class="productInfo">
                    <div>
                        <p class="no" th:text="${product.productCode}"></p>
                        <h2 class="title" th:text="${product.name}"></h2>
                        <p class="desc" th:text="${product.description}"></p>
                    </div>
                    <div>
                        <del class="realPrice">
                            <p th:text="${#numbers.formatInteger(product.price, 3, 'COMMA')}"></p>
                            <p>원</p>
                        </del>
                        <div class="priceInfo">
                            <p class="discount" th:text="${product.discount + '%'}"></p>
                            <p class="price"
                               th:text="${#numbers.formatInteger(product.price * (100.0 - product.discount) / 100, 3, 'COMMA')}"></p>
                            <span class="won">원</span>
                        </div>
                    </div>
                    <div class="adBanner" th:if="${productBanner != null}">
                        <a href="#" th:each="banner : ${productBanner}">
                            <img th:src="${banner.imagePath}" alt="광고 배너">
                        </a>
                    </div>
                    <!--optionValue에서 ,로 구분은 dto에서 실행함.-->
                    <div class="chooseProduct">
                        <p>상품 선택</p>
                        <div class="chooseOption">
                            <th:block th:each="option : ${product.options}">
                                <div class="optionGroup">
                                    <label th:text="${option.optionName}"></label>
                                    <select class="option-select" th:data-name="${option.optionName}"
                                            name="productOption">
                                        <option value="">선택하세요</option>
                                        <th:block th:each="value : ${option.optionValues}">
                                            <option th:value="${value}" th:text="${value}"></option>
                                        </th:block>
                                    </select>
                                </div>
                            </th:block>
                        </div>
                        <div class="selectedOptions"></div>
                    </div>
                    <div class="totalPriceBox">
                        <div class="countControl">
                            <p>총 수량:
                                <button class="minus">-</button>
                                <span class="totalCount">1</span>
                                <button class="plus">+</button>
                                개
                            </p>
                        </div>
                        <p>총 상품금액:
                            <span class="totalPrice"
                                  th:attr="data-baseprice=${product.price * (100 - product.discount) / 100}"
                                  th:text="${#numbers.formatInteger(product.price * (100 - product.discount) / 100, 3, 'COMMA')}">
                            </span>원
                        </p>
                    </div>
                    <div class="btnContainer">
                        <button class="like"></button>
                        <form id="cartForm" class="addCart" method="post" th:action="@{/product/addToCart}">
                            <input type="hidden" name="productId" th:value="${product.id}">
                            <input type="hidden" name="quantity" id="quantityInput" value="1">
                            <input type="hidden" name="productOption" id="selectedOption">
                            <button type="submit">장바구니 담기</button>
                        </form>
                        <form id="orderForm" method="post" th:action="@{/product/payment}">
                            <input type="hidden" name="productCode" th:value="${product.productCode}">
                            <input type="hidden" name="quantity" id="inputQuantity" value="1">
                            <input type="hidden" name="option" id="optionInput">
                            <button type="submit" class="purchase">바로 구매하기</button>
                        </form>
                    </div>
                </div>
            </div>
            <div class="descBtn fixed mr-tb">
                <ul>
                    <li><a href="#" class="productDescBtn">상품설명</a></li>
                    <li><a href="#detailInfo" class="detailInfoBtn">상세정보</a></li>
                    <li><a href="#review" class="reviewBtn">후기<span class="reviewCount">(1,004)</span></a></li>
                </ul>
            </div>
            <div class="substitution"></div>
            <div class="descImg" id="detailInfo">
                <img th:src="@{'/images/' + ${product.imageDetail}}" alt="상품설명">
            </div>
            <div class="reviewContainer" id="review">
                <h2>상품 후기</h2>
                <p class="reviewTotal">총 1,004개</p>
                <div class="commentList">
                    <th:block th:each="review : ${reviews}">
                        <div class="comment">
                            <div class="writerBox">
                                <p class="writer" th:text="${review.member.name}">작성자</p>
                                <div class="ratingBox">
                                    <th:block th:with="score=${#numbers.formatInteger(review.rating, 0)}">
                                        <img th:each="i : ${#numbers.sequence(1, 5)}"
                                             th:src="@{/images/icon_star_full.svg}"
                                             th:if="${i <= score}"/>
                                        <img th:each="i : ${#numbers.sequence(1, 5)}"
                                             th:src="@{/images/icon_star_empty.svg}"
                                             th:if="${i > score}"/>
                                        <span class="score" th:text="${score}">5</span>
                                    </th:block>
                                </div>
                            </div>
                            <div class="contentBox">
                                <h3 class="purchasedName" th:text="${review.title}">리뷰 제목</h3>
                                <p class="content" th:text="${review.content}">리뷰 내용</p>
                                <p class="commentDate" th:text="${#temporals.format(review.regDate, 'yyyy.MM.dd')}">
                                    작성일</p>
                                <p th:text="${review.title} ?: '제목 없음'"></p>
                                <p th:text="${review.rating} ?: '별점 없음'"></p>
                                <p th:text="${review.content} ?: '내용 없음'"></p>
                            </div>
                        </div>
                    </th:block>
                </div>

            </div>
        </div>
    </main>
    <th:block th:replace="/common/_footer.html :: footerFragment(versionId=${selectedVersionId})"/>
</div>
</body>
</html>