<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <!-- Pretendard Font -->
    <link rel="stylesheet" as="style" crossorigin
          href="https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/variable/pretendardvariable.min.css"/>
    <link rel="stylesheet" href="/style/member/join.css">
    <link rel="stylesheet" href="/style/common/_footer.css">
    <link rel="stylesheet" href="/style/common/_header.css">
    <title>회원가입 구분</title>
</head>
<body>
<div>
    <th:block th:include="~{/common/_header.html}"/>

    <main class="container">
        <div class="join-title">
            <p class="p-1">대한민국 1등 온라인 인터넷 쇼핑</p> <br>
            <p class="p-2">롯데 ON에 오신 것을 환영합니다.</p>
        </div>

        <div class="signup-container">
            <div class="signup-box">
                <div class="signup-header1">일반회원가입</div>
                <div class="signup-body">
                    <p>개인구매회원 (외국인 포함)</p> <br>
                    만 14세 이상 가입 가능 <br>
                    <a th:href="@{/member/signUp}">
                        <button type="button">회원가입</button>
                    </a>
                </div>
            </div>

            <div class="signup-box">
                <div class="signup-header2">판매회원가입</div>
                <div class="signup-body">
                    <p>사업자판매회원</p> <br>
                    사업자등록증을 보유한 회원
                    <a th:href="@{/member/signUp_seller}">
                        <button type="button">회원가입</button>
                    </a>
                </div>
            </div>
        </div>
    </main>
    <th:block th:include="~{/common/_footer.html}"/>
</div>
</body>
</html>