<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>롯데ON 로그인 : 롯데ON</title>
        <link rel="stylesheet" href="/style/member/login.css">

    </head>

    <body>
        <main>
            <div class="login_page">
                <div class="main_content">
                    <h2>
                        <span>로그인</span>
                    </h2>
                    <div class="login_content">
                        <div class="login_form">
                            <section class="type_here">
                                <table border="0">
                                    <tr>
                                        <td><input type="text" name="user_id" placeholder="아이디 또는 이메일 아이디"></td>
                                    </tr>
                                    <tr>
                                        <td><input type="text" name="user_pw" placeholder="8~15자리 영문+숫자+특수문자 조합"></td>
                                    </tr>
                                </table>
                            </section>
                            <div class="submit_btn">
                                <input type="submit" value="로그인하기" class="login_btn">
                            </div>
                            <div class="auto_login">
                                <div class="save_id">
                                    <label>
                                        <input type="checkbox" class="check_box">
                                        아이디 저장
                                    </label>
                                </div>
                                <div class="find">
                                    <a href="#">아이디 찾기&nbsp&nbsp |&nbsp</a>
                                    <a href="#">&nbsp비밀번호 찾기</a>
                                </div>
                            </div>
                            <div class="quick_signUp">
                                <p>간편하게 쇼핑 계속하기</p>
                                <div>
                                    <div class="buttons">
                                        <button type="button" class="kakao">카카오</button>
                                        <button type="button" class="naver">네이버</button>
                                        <button type="button" class="identification">본인인증</button>
                                    </div>
                                </div>
                            </div>
                            <div class="lotte_signUp">
                                <a>
                                    첫 방문이라면 <span>최대 25%할인</span> 받으세요.
                                    <a href="#">&nbsp&nbsp자세히</a>
                                </a>
                            </div>
                            <div class="lpoint_signup">
                                <a href="#">L.POINT 회원 가입하기</a>
                            </div>
                            <div class="other_signUp">
                                <a href="#">법인회원 가입하기&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp|</a>
                                <a href="#">&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp이메일 간편회원 가입</a>
                            </div>
                        </div>
                        <div class="ad_image">
                            <a href="#">
                                <img src="/images/real.jpg" alt="광고">
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </body>
</html>